In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('Titanic-Dataset.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

# Data Preprocessing

In [5]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
pip install seaborn as sns

Collecting seabornNote: you may need to restart the kernel to use updated packages.

  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)

ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as

[notice] A new release of pip is available: 24.0 -> 25.0
[notice] To update, run: C:\Users\xolmu\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [9]:
pip install matplotlib.pyplot as plt

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement matplotlib.pyplot (from versions: none)
ERROR: No matching distribution found for matplotlib.pyplot

[notice] A new release of pip is available: 24.0 -> 25.0
[notice] To update, run: C:\Users\xolmu\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [11]:
pip install numpy as np

Requirement already satisfied: numpy in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as

[notice] A new release of pip is available: 24.0 -> 25.0
[notice] To update, run: C:\Users\xolmu\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [66]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'seaborn'

In [67]:
sns.heatmap(df.isnull(),cbar=False)

NameError: name 'sns' is not defined

In [68]:
import seaborn as sns
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'seaborn'

In [69]:
sns.hatmap(df.isnull(), cbar=False, cmap='viridis',yticklabels=False)
plt.show()

NameError: name 'sns' is not defined

In [70]:
pip install missingno as msno

Collecting missingno
  Downloading missingno-0.5.2-py3-none-any.whl.metadata (639 bytes)
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as

[notice] A new release of pip is available: 24.0 -> 25.0
[notice] To update, run: C:\Users\xolmu\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [75]:
import missingno as msno
import matplotlib.pyplot as plt

msno.matrix(df)
plt.show()

ModuleNotFoundError: No module named 'missingno'

In [77]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [78]:
# Drop
df=df.dropna(subset=['Embarked' ])

In [79]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          712 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        202 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.3+ KB

In [82]:
tushib_qolganlar=df.columns[df.isnull().any()]

In [83]:
tushib_qolganlar

Index(['Age', 'Cabin'], dtype='object')

In [84]:
df=df.dropna(subset=tushib_qolganlar)

In [85]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 183 entries, 1 to 889
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  183 non-null    int64
 1   Survived     183 non-null    int64
 2   Pclass       183 non-null    int64
 3   Name         183 non-null    object
 4   Sex          183 non-null    object
 5   Age          183 non-null    float64
 6   SibSp        183 non-null    int64
 7   Parch        183 non-null    int64
 8   Ticket       183 non-null    object
 9   Fare         183 non-null    float64
 10  Cabin        183 non-null    object
 11  Embarked     183 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 18.6+ KB

# Fixed

In [1]:
import pandas as pd

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [10]:
df['Embarked'].fillna(2,inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [13]:
df['Age'].value_counts()

Age
24.00    30
22.00    27
18.00    26
28.00    25
30.00    25
         ..
24.50     1
0.67      1
0.42      1
34.50     1
74.00     1
Name: count, Length: 88, dtype: int64

In [14]:
df['Age'].fillna('Sariq',inplace=True)

C:\Users\xolmu\AppData\Local\Temp\ipykernel_2004\2095610281.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna('Sariq',inplace=True)
C:\Users\xolmu\AppData\Local\Temp\ipykernel_2004\2095610281.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Sariq' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['Age'].fillna('Sariq',inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    object
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(1), int64(5), object(6)
memory usage: 83.7+ KB

# Mean

In [16]:
df=pd.read_csv('train.csv')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.3 KB

In [18]:
df=pd.read_csv('test.csv')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1000 non-null   int64
 1   battery_power  1000 non-null   int64
 2   blue           1000 non-null   int64
 3   clock_speed    1000 non-null   float64
 4   dual_sim       1000 non-null   int64
 5   fc             1000 non-null   int64
 6   four_g         1000 non-null   int64
 7   int_memory     1000 non-null   int64
 8   m_dep          1000 non-null   float64
 9   mobile_wt      1000 non-null   int64
 10  n_cores        1000 non-null   int64
 11  pc             1000 non-null   int64
 12  px_height      1000 non-null   int64
 13  px_width       1000 non-null   int64
 14  ram            1000 non-null   int64
 15  sc_h           1000 non-null   int64
 16  sc_w           1000 non-null   int64
 17  talk_time      1000 non-null   int64
 18  three_g        1000 non-null   int64
 19  touch_screen   1000 non-null   int64
 20  wifi           1000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 164.2 KB

In [20]:
df=pd.read_csv('placementdata.csv')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   StudentID                  10000 non-null  int64
 1   CGPA                       10000 non-null  float64
 2   Internships                10000 non-null  int64
 3   Projects                   10000 non-null  int64
 4   Workshops/Certifications   10000 non-null  int64
 5   AptitudeTestScore          10000 non-null  int64
 6   SoftSkillsRating           10000 non-null  float64
 7   ExtracurricularActivities  10000 non-null  object
 8   PlacementTraining          10000 non-null  object
 9   SSC_Marks                  10000 non-null  int64
 10  HSC_Marks                  10000 non-null  int64
 11  PlacementStatus            10000 non-null  object
dtypes: float64(2), int64(7), object(3)
memory usage: 937.6+ KB

In [22]:
df.isnull().sum()

StudentID                    0
CGPA                         0
Internships                  0
Projects                     0
Workshops/Certifications     0
AptitudeTestScore            0
SoftSkillsRating             0
ExtracurricularActivities    0
PlacementTraining            0
SSC_Marks                    0
HSC_Marks                    0
PlacementStatus              0
dtype: int64

In [23]:
df=pd.read_csv('airplane_price_dataset.csv')

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12377 entries, 0 to 12376
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Model                       12377 non-null  object
 1   Üretim Yılı                 12377 non-null  int64
 2   Motor Sayısı                12377 non-null  int64
 3   Motor Türü                  12377 non-null  object
 4   Kapasite                    12377 non-null  int64
 5   Menzil (km)                 12377 non-null  int64
 6   Yakıt Tüketimi (L/saat)     12377 non-null  float64
 7   Saatlik Bakım Maliyeti ($)  12377 non-null  float64
 8   Yaş                         12377 non-null  int64
 9   Satış Bölgesi               12377 non-null  object
 10  Fiyat ($)                   12377 non-null  float64
dtypes: float64(3), int64(5), object(3)
memory usage: 1.0+ MB

In [25]:
df=pd.read_csv('telefon turini aniqlash2.csv')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2001 non-null   int64
 1   blutus                         2001 non-null   int64
 2   protsessor_tezligi             2001 non-null   float64
 3   ikkita simkartalik             2001 non-null   int64
 4   Oldi_kamera                    2001 non-null   int64
 5   4G                             2001 non-null   int64
 6   Ichki_xotira                   2001 non-null   int64
 7   tel_ingichgaligi               1998 non-null   float64
 8   Rangi                          2001 non-null   object
 9   Vazni                          2001 non-null   int64
 10  Protsessor yadrolari soni      2000 non-null   float64
 11  Asosiy kamera                  1999 non-null   float64
 12  Qurilma xajmi(pix)             1999 non-null   float64
 13  Qurilma ekran kengligi(pix)    1998 non-null   float64
 14  ram                            2001 non-null   int64
 15  Qurilma xajmi(cm)              2000 non-null   float64
 16  Qurilma ekran kengligi(cm)     2000 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  2001 non-null   int64
 18  3g                             2001 non-null   int64
 19  Qurilma xajmi(pix).1           1999 non-null   float64
 20  sensorli                       2001 non-null   int64
 21  wifi                           2001 non-null   int64
 22  telefon_turi                   2001 non-null   int64
dtypes: float64(9), int64(13), object(1)
memory usage: 359.7+ KB

# Mean

In [27]:
df['Qurilma ekran kengligi(pix)'].fillna(df['Qurilma ekran kengligi(pix)'].mean(),inplace=True)

C:\Users\xolmu\AppData\Local\Temp\ipykernel_2004\1143662157.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Qurilma ekran kengligi(pix)'].fillna(df['Qurilma ekran kengligi(pix)'].mean(),inplace=True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2001 non-null   int64
 1   blutus                         2001 non-null   int64
 2   protsessor_tezligi             2001 non-null   float64
 3   ikkita simkartalik             2001 non-null   int64
 4   Oldi_kamera                    2001 non-null   int64
 5   4G                             2001 non-null   int64
 6   Ichki_xotira                   2001 non-null   int64
 7   tel_ingichgaligi               1998 non-null   float64
 8   Rangi                          2001 non-null   object
 9   Vazni                          2001 non-null   int64
 10  Protsessor yadrolari soni      2000 non-null   float64
 11  Asosiy kamera                  1999 non-null   float64
 12  Qurilma xajmi(pix)             1999 non-null   float64
 13  Qurilma ekran kengligi(pix)    2001 non-null   float64
 14  ram                            2001 non-null   int64
 15  Qurilma xajmi(cm)              2000 non-null   float64
 16  Qurilma ekran kengligi(cm)     2000 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  2001 non-null   int64
 18  3g                             2001 non-null   int64
 19  Qurilma xajmi(pix).1           1999 non-null   float64
 20  sensorli                       2001 non-null   int64
 21  wifi                           2001 non-null   int64
 22  telefon_turi                   2001 non-null   int64
dtypes: float64(9), int64(13), object(1)
memory usage: 359.7+ KB

# Mode

In [2]:
import pandas as pd

In [21]:
df=pd.read_csv('telefon turini aniqlash2.csv')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2001 non-null   int64
 1   blutus                         2001 non-null   int64
 2   protsessor_tezligi             2001 non-null   float64
 3   ikkita simkartalik             2001 non-null   int64
 4   Oldi_kamera                    2001 non-null   int64
 5   4G                             2001 non-null   int64
 6   Ichki_xotira                   2001 non-null   int64
 7   tel_ingichgaligi               1998 non-null   float64
 8   Rangi                          2001 non-null   object
 9   Vazni                          2001 non-null   int64
 10  Protsessor yadrolari soni      2000 non-null   float64
 11  Asosiy kamera                  1999 non-null   float64
 12  Qurilma xajmi(pix)             1999 non-null   float64
 13  Qurilma ekran kengligi(pix)    1998 non-null   float64
 14  ram                            2001 non-null   int64
 15  Qurilma xajmi(cm)              2000 non-null   float64
 16  Qurilma ekran kengligi(cm)     2000 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  2001 non-null   int64
 18  3g                             2001 non-null   int64
 19  Qurilma xajmi(pix).1           1999 non-null   float64
 20  sensorli                       2001 non-null   int64
 21  wifi                           2001 non-null   int64
 22  telefon_turi                   2001 non-null   int64
dtypes: float64(9), int64(13), object(1)
memory usage: 359.7+ KB

In [24]:
df['Qurilma ekran kengligi(cm)'].fillna(df['Qurilma ekran kengligi(cm)'].mode()[0],inplace=True)

C:\Users\xolmu\AppData\Local\Temp\ipykernel_14008\2431958342.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Qurilma ekran kengligi(cm)'].fillna(df['Qurilma ekran kengligi(cm)'].mode()[0],inplace=True)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2001 non-null   int64
 1   blutus                         2001 non-null   int64
 2   protsessor_tezligi             2001 non-null   float64
 3   ikkita simkartalik             2001 non-null   int64
 4   Oldi_kamera                    2001 non-null   int64
 5   4G                             2001 non-null   int64
 6   Ichki_xotira                   2001 non-null   int64
 7   tel_ingichgaligi               1998 non-null   float64
 8   Rangi                          2001 non-null   object
 9   Vazni                          2001 non-null   int64
 10  Protsessor yadrolari soni      2000 non-null   float64
 11  Asosiy kamera                  1999 non-null   float64
 12  Qurilma xajmi(pix)             1999 non-null   float64
 13  Qurilma ekran kengligi(pix)    1998 non-null   float64
 14  ram                            2001 non-null   int64
 15  Qurilma xajmi(cm)              2000 non-null   float64
 16  Qurilma ekran kengligi(cm)     2001 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  2001 non-null   int64
 18  3g                             2001 non-null   int64
 19  Qurilma xajmi(pix).1           1999 non-null   float64
 20  sensorli                       2001 non-null   int64
 21  wifi                           2001 non-null   int64
 22  telefon_turi                   2001 non-null   int64
dtypes: float64(9), int64(13), object(1)
memory usage: 359.7+ KB

In [26]:
list_rang=['Oq','Qora','Qizil']
list_rang

['Oq', 'Qora', 'Qizil']

In [27]:
list_rang=['Oq','Qora','Qizil']
list_rang[0]

'Oq'

# Median

In [29]:
df['Asosiy kamera'].fillna(df['Asosiy kamera'].median(),inplace=True)

C:\Users\xolmu\AppData\Local\Temp\ipykernel_14008\1151339118.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Asosiy kamera'].fillna(df['Asosiy kamera'].median(),inplace=True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2001 non-null   int64
 1   blutus                         2001 non-null   int64
 2   protsessor_tezligi             2001 non-null   float64
 3   ikkita simkartalik             2001 non-null   int64
 4   Oldi_kamera                    2001 non-null   int64
 5   4G                             2001 non-null   int64
 6   Ichki_xotira                   2001 non-null   int64
 7   tel_ingichgaligi               1998 non-null   float64
 8   Rangi                          2001 non-null   object
 9   Vazni                          2001 non-null   int64
 10  Protsessor yadrolari soni      2000 non-null   float64
 11  Asosiy kamera                  2001 non-null   float64
 12  Qurilma xajmi(pix)             1999 non-null   float64
 13  Qurilma ekran kengligi(pix)    1998 non-null   float64
 14  ram                            2001 non-null   int64
 15  Qurilma xajmi(cm)              2000 non-null   float64
 16  Qurilma ekran kengligi(cm)     2001 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  2001 non-null   int64
 18  3g                             2001 non-null   int64
 19  Qurilma xajmi(pix).1           1999 non-null   float64
 20  sensorli                       2001 non-null   int64
 21  wifi                           2001 non-null   int64
 22  telefon_turi                   2001 non-null   int64
dtypes: float64(9), int64(13), object(1)
memory usage: 359.7+ KB