# Data preprocessing(final)
# Scaling

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler, RobustScaler

In [ ]:
# Misol uchun
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [2]:
df=pd.read_csv('test.csv')

In [4]:
df.head()

   id  battery_power  blue  clock_speed  ...  talk_time  three_g  touch_screen  wifi
0   1           1043     1          1.8  ...          2        0             1     0
1   2            841     1          0.5  ...          7        1             0     0
2   3           1807     1          2.8  ...         10        0             1     1
3   4           1546     0          0.5  ...          7        1             1     0
4   5           1434     0          1.4  ...          7        1             0     1

[5 rows x 21 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1000 non-null   int64
 1   battery_power  1000 non-null   int64
 2   blue           1000 non-null   int64
 3   clock_speed    1000 non-null   float64
 4   dual_sim       1000 non-null   int64
 5   fc             1000 non-null   int64
 6   four_g         1000 non-null   int64
 7   int_memory     1000 non-null   int64
 8   m_dep          1000 non-null   float64
 9   mobile_wt      1000 non-null   int64
 10  n_cores        1000 non-null   int64
 11  pc             1000 non-null   int64
 12  px_height      1000 non-null   int64
 13  px_width       1000 non-null   int64
 14  ram            1000 non-null   int64
 15  sc_h           1000 non-null   int64
 16  sc_w           1000 non-null   int64
 17  talk_time      1000 non-null   int64
 18  three_g        1000 non-null   int64
 19  touch_screen   1000 non-null   int64
 20  wifi           1000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 164.2 KB

In [6]:
df.isnull().sum()

id               0
battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1000 non-null   int64
 1   battery_power  1000 non-null   int64
 2   blue           1000 non-null   int64
 3   clock_speed    1000 non-null   float64
 4   dual_sim       1000 non-null   int64
 5   fc             1000 non-null   int64
 6   four_g         1000 non-null   int64
 7   int_memory     1000 non-null   int64
 8   m_dep          1000 non-null   float64
 9   mobile_wt      1000 non-null   int64
 10  n_cores        1000 non-null   int64
 11  pc             1000 non-null   int64
 12  px_height      1000 non-null   int64
 13  px_width       1000 non-null   int64
 14  ram            1000 non-null   int64
 15  sc_h           1000 non-null   int64
 16  sc_w           1000 non-null   int64
 17  talk_time      1000 non-null   int64
 18  three_g        1000 non-null   int64
 19  touch_screen   1000 non-null   int64
 20  wifi           1000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 164.2 KB

# SCALING

In [13]:
#MinMax Scaling
scaler=MinMaxScaler()
df=scaler.fit_transform(df)
df=pd.DataFrame(df)

In [ ]:
df.head()      bu yerda numpy bolib topyabdi

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [ ]:
df     lekin bizga data frame,jadval korinishida chiqarishi kerak,yani pandas kerak

array([[0.        , 0.36224149, 1.        , ..., 0.        , 1.        ,
        0.        ],
       [0.001001  , 0.22748499, 1.        , ..., 1.        , 0.        ,
        0.        ],
       [0.002002  , 0.87191461, 1.        , ..., 0.        , 1.        ,
        1.        ],
       ...,
       [0.997998  , 0.45697131, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.998999  , 0.68912608, 1.        , ..., 0.        , 1.        ,
        0.        ],
       [1.        , 0.51367578, 1.        , ..., 1.        , 0.        ,
        1.        ]], shape=(1000, 21))

In [5]:
df=pd.DataFrame(df)

In [12]:
df.head()

         0         1    2     3    4   ...        16        17   18   19   20
0  0.000000  0.362241  1.0  0.52  1.0  ...  0.388889  0.000000  0.0  1.0  0.0
1  0.001001  0.227485  1.0  0.00  1.0  ...  0.000000  0.277778  1.0  0.0  0.0
2  0.002002  0.871915  1.0  0.92  0.0  ...  0.555556  0.444444  0.0  1.0  1.0
3  0.003003  0.697799  0.0  0.00  1.0  ...  0.000000  0.277778  1.0  1.0  0.0
4  0.004004  0.623082  0.0  0.36  0.0  ...  0.444444  0.277778  1.0  0.0  1.0

[5 rows x 21 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1000 non-null   float64
 1   1       1000 non-null   float64
 2   2       1000 non-null   float64
 3   3       1000 non-null   float64
 4   4       1000 non-null   float64
 5   5       1000 non-null   float64
 6   6       1000 non-null   float64
 7   7       1000 non-null   float64
 8   8       1000 non-null   float64
 9   9       1000 non-null   float64
 10  10      1000 non-null   float64
 11  11      1000 non-null   float64
 12  12      1000 non-null   float64
 13  13      1000 non-null   float64
 14  14      1000 non-null   float64
 15  15      1000 non-null   float64
 16  16      1000 non-null   float64
 17  17      1000 non-null   float64
 18  18      1000 non-null   float64
 19  19      1000 non-null   float64
 20  20      1000 non-null   float64
dtypes: float64(21)
memory usage: 164.2 KB

In [3]:
#Standard Scaling
scaler=StandardScaler()
df=scaler.fit_transform(df)

In [ ]:
df.info()   bu hozir numpy  korinishida

AttributeError: 'numpy.ndarray' object has no attribute 'info'

In [6]:
df=pd.DataFrame(df)

In [ ]:
original_columns=df.columns       agar ustunni nomlari ham kerak bolsa

In [10]:
original_columns

Index(['id', 'battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc',
       'four_g', 'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc',
       'px_height', 'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi'],
      dtype='object')

In [11]:
len(original_columns)

21

In [8]:
scaler=StandardScaler()
df=scaler.fit_transform(df)

In [12]:
df=pd.DataFrame(df,columns=original_columns)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1000 non-null   float64
 1   battery_power  1000 non-null   float64
 2   blue           1000 non-null   float64
 3   clock_speed    1000 non-null   float64
 4   dual_sim       1000 non-null   float64
 5   fc             1000 non-null   float64
 6   four_g         1000 non-null   float64
 7   int_memory     1000 non-null   float64
 8   m_dep          1000 non-null   float64
 9   mobile_wt      1000 non-null   float64
 10  n_cores        1000 non-null   float64
 11  pc             1000 non-null   float64
 12  px_height      1000 non-null   float64
 13  px_width       1000 non-null   float64
 14  ram            1000 non-null   float64
 15  sc_h           1000 non-null   float64
 16  sc_w           1000 non-null   float64
 17  talk_time      1000 non-null   float64
 18  three_g        1000 non-null   float64
 19  touch_screen   1000 non-null   float64
 20  wifi           1000 non-null   float64
dtypes: float64(21)
memory usage: 164.2 KB

In [14]:
df.head()

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,-1.730320,-0.475451,0.968496,0.312601,0.966559,2.108676,-0.974329,-1.581269,-1.487247,1.535535,...,0.976026,-0.926990,0.391912,1.229373,0.001158,0.397363,-1.653355,-1.760216,1.0,-1.014099
1,-1.726856,-0.942782,0.968496,-1.255832,0.966559,-0.132927,1.026347,1.509303,1.006341,1.478120,...,0.319433,0.274729,-0.871028,1.614643,-1.388231,-1.254383,-0.743418,0.568112,-1.0,-1.014099
2,-1.723391,1.292077,0.968496,1.519087,-1.034598,-0.805408,-0.974329,-0.367116,1.362567,1.334582,...,-0.993754,1.485693,0.287236,0.236313,1.158982,1.105254,-0.197456,-1.760216,1.0,0.986097
3,-1.719927,0.688249,-1.032529,-1.255832,0.966559,3.005317,1.026347,-0.477493,-0.062340,-1.249091,...,1.632619,-0.767532,1.165604,1.612804,-0.461972,-1.254383,-0.743418,0.568112,1.0,-1.014099
4,-1.716463,0.429135,-1.032529,-0.169994,-1.034598,1.436195,1.026347,0.847037,-0.062340,-0.904602,...,1.304323,0.281662,-0.977979,-0.336535,0.695852,0.633326,-0.743418,0.568112,-1.0,0.986097

In [3]:
# Robust Scaling
original_columns=df.columns

In [4]:
original_columns

Index(['id', 'battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc',
       'four_g', 'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc',
       'px_height', 'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi'],
      dtype='object')

In [ ]:
scaler=RobustScaler()             bu hozir numpyga aylandi.endi biz pandasga aylantiramiz(jadval korinishiga)
df=scaler.fit_transform(df)

In [6]:
df=pd.DataFrame(df,columns=original_columns)

In [7]:
df.head()

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,-1.000000,-0.277154,0.0,0.1875,0.0,1.833333,0.0,-0.951613,-0.8,0.896266,...,0.545455,-0.529527,0.200993,0.723369,0.000,0.333333,-0.972973,-1.0,0.5,-1.0
1,-0.997998,-0.552264,0.0,-0.6250,0.0,0.166667,1.0,0.854839,0.6,0.863071,...,0.181818,0.283926,-0.487593,0.952550,-0.750,-0.833333,-0.432432,0.0,-0.5,-1.0
2,-0.995996,0.763364,0.0,0.8125,-1.0,-0.333333,0.0,-0.241935,0.8,0.780083,...,-0.545455,1.103637,0.143921,0.132641,0.625,0.833333,-0.108108,-1.0,0.5,0.0
3,-0.993994,0.407899,-1.0,-0.6250,0.0,2.500000,1.0,-0.306452,0.0,-0.713693,...,0.909091,-0.421588,0.622829,0.951456,-0.250,-0.833333,-0.432432,0.0,0.5,-1.0
4,-0.991992,0.255363,-1.0,-0.0625,-1.0,1.333333,1.0,0.467742,0.0,-0.514523,...,0.727273,0.288619,-0.545906,-0.208123,0.375,0.500000,-0.432432,0.0,-0.5,0.0

In [ ]:
bu yerda id scaling qilinmaydi.bunday holatda idni alohida ajratish yoki drop qilib tashlab yuborish kerak