# ENCODING 1

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('telefon turini aniqlash2.csv')

In [3]:
df.head()

,battereya_hajmi,blutus,protsessor_tezligi,ikkita simkartalik,Oldi_kamera,4G,Ichki_xotira,tel_ingichgaligi,Rangi,Vazni,...,Qurilma ekran kengligi(pix),ram,Qurilma xajmi(cm),Qurilma ekran kengligi(cm),Bir_quvvatlashdagi gaplashish,3g,Qurilma xajmi(pix).1,sensorli,wifi,telefon_turi
0,842,0,2.2,0,1,0,7,0.6,Qizil,188,...,756.0,2549,9.0,7.0,19,0,20.0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,Yashil,136,...,1988.0,2631,17.0,3.0,7,1,905.0,1,0,2
2,563,1,0.5,1,2,1,41,0.9,Sariq,145,...,1716.0,2603,11.0,2.0,9,1,1263.0,1,0,2
3,615,1,2.5,0,0,0,10,0.8,Jigarrang,131,...,1786.0,2769,16.0,8.0,11,1,1216.0,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,Oq,141,...,1212.0,1411,8.0,2.0,15,1,1208.0,1,0,1

In [4]:
df.isnull().sum()

battereya_hajmi                  0
blutus                           0
protsessor_tezligi               0
ikkita simkartalik               0
Oldi_kamera                      0
4G                               0
Ichki_xotira                     0
tel_ingichgaligi                 3
Rangi                            0
Vazni                            0
Protsessor yadrolari soni        1
Asosiy kamera                    2
Qurilma xajmi(pix)               2
Qurilma ekran kengligi(pix)      3
ram                              0
Qurilma xajmi(cm)                1
Qurilma ekran kengligi(cm)       1
Bir_quvvatlashdagi gaplashish    0
3g                               0
Qurilma xajmi(pix).1             2
sensorli                         0
wifi                             0
telefon_turi                     0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2001 non-null   int64
 1   blutus                         2001 non-null   int64
 2   protsessor_tezligi             2001 non-null   float64
 3   ikkita simkartalik             2001 non-null   int64
 4   Oldi_kamera                    2001 non-null   int64
 5   4G                             2001 non-null   int64
 6   Ichki_xotira                   2001 non-null   int64
 7   tel_ingichgaligi               1998 non-null   float64
 8   Rangi                          2001 non-null   object
 9   Vazni                          2001 non-null   int64
 10  Protsessor yadrolari soni      2000 non-null   float64
 11  Asosiy kamera                  1999 non-null   float64
 12  Qurilma xajmi(pix)             1999 non-null   float64
 13  Qurilma ekran kengligi(pix)    1998 non-null   float64
 14  ram                            2001 non-null   int64
 15  Qurilma xajmi(cm)              2000 non-null   float64
 16  Qurilma ekran kengligi(cm)     2000 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  2001 non-null   int64
 18  3g                             2001 non-null   int64
 19  Qurilma xajmi(pix).1           1999 non-null   float64
 20  sensorli                       2001 non-null   int64
 21  wifi                           2001 non-null   int64
 22  telefon_turi                   2001 non-null   int64
dtypes: float64(9), int64(13), object(1)
memory usage: 359.7+ KB

In [4]:
df=df.dropna()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1988 entries, 0 to 2000
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                1988 non-null   int64
 1   blutus                         1988 non-null   int64
 2   protsessor_tezligi             1988 non-null   float64
 3   ikkita simkartalik             1988 non-null   int64
 4   Oldi_kamera                    1988 non-null   int64
 5   4G                             1988 non-null   int64
 6   Ichki_xotira                   1988 non-null   int64
 7   tel_ingichgaligi               1988 non-null   float64
 8   Rangi                          1988 non-null   object
 9   Vazni                          1988 non-null   int64
 10  Protsessor yadrolari soni      1988 non-null   float64
 11  Asosiy kamera                  1988 non-null   float64
 12  Qurilma xajmi(pix)             1988 non-null   float64
 13  Qurilma ekran kengligi(pix)    1988 non-null   float64
 14  ram                            1988 non-null   int64
 15  Qurilma xajmi(cm)              1988 non-null   float64
 16  Qurilma ekran kengligi(cm)     1988 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  1988 non-null   int64
 18  3g                             1988 non-null   int64
 19  Qurilma xajmi(pix).1           1988 non-null   float64
 20  sensorli                       1988 non-null   int64
 21  wifi                           1988 non-null   int64
 22  telefon_turi                   1988 non-null   int64
dtypes: float64(9), int64(13), object(1)
memory usage: 372.8+ KB

In [8]:
df.isnull().sum()

battereya_hajmi                  0
blutus                           0
protsessor_tezligi               0
ikkita simkartalik               0
Oldi_kamera                      0
4G                               0
Ichki_xotira                     0
tel_ingichgaligi                 0
Rangi                            0
Vazni                            0
Protsessor yadrolari soni        0
Asosiy kamera                    0
Qurilma xajmi(pix)               0
Qurilma ekran kengligi(pix)      0
ram                              0
Qurilma xajmi(cm)                0
Qurilma ekran kengligi(cm)       0
Bir_quvvatlashdagi gaplashish    0
3g                               0
Qurilma xajmi(pix).1             0
sensorli                         0
wifi                             0
telefon_turi                     0
dtype: int64

# ONE- HOT Encoder

In [9]:
# get_dummies=Pandas

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1988 entries, 0 to 2000
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                1988 non-null   int64
 1   blutus                         1988 non-null   int64
 2   protsessor_tezligi             1988 non-null   float64
 3   ikkita simkartalik             1988 non-null   int64
 4   Oldi_kamera                    1988 non-null   int64
 5   4G                             1988 non-null   int64
 6   Ichki_xotira                   1988 non-null   int64
 7   tel_ingichgaligi               1988 non-null   float64
 8   Rangi                          1988 non-null   object
 9   Vazni                          1988 non-null   int64
 10  Protsessor yadrolari soni      1988 non-null   float64
 11  Asosiy kamera                  1988 non-null   float64
 12  Qurilma xajmi(pix)             1988 non-null   float64
 13  Qurilma ekran kengligi(pix)    1988 non-null   float64
 14  ram                            1988 non-null   int64
 15  Qurilma xajmi(cm)              1988 non-null   float64
 16  Qurilma ekran kengligi(cm)     1988 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  1988 non-null   int64
 18  3g                             1988 non-null   int64
 19  Qurilma xajmi(pix).1           1988 non-null   float64
 20  sensorli                       1988 non-null   int64
 21  wifi                           1988 non-null   int64
 22  telefon_turi                   1988 non-null   int64
dtypes: float64(9), int64(13), object(1)
memory usage: 372.8+ KB

In [12]:
df['Rangi'].value_counts()

Rangi
Qora         1977
Yashil          7
Qizil           1
Sariq           1
Jigarrang       1
Oq              1
Name: count, dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1988 entries, 0 to 2000
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                1988 non-null   int64
 1   blutus                         1988 non-null   int64
 2   protsessor_tezligi             1988 non-null   float64
 3   ikkita simkartalik             1988 non-null   int64
 4   Oldi_kamera                    1988 non-null   int64
 5   4G                             1988 non-null   int64
 6   Ichki_xotira                   1988 non-null   int64
 7   tel_ingichgaligi               1988 non-null   float64
 8   Rangi                          1988 non-null   object
 9   Vazni                          1988 non-null   int64
 10  Protsessor yadrolari soni      1988 non-null   float64
 11  Asosiy kamera                  1988 non-null   float64
 12  Qurilma xajmi(pix)             1988 non-null   float64
 13  Qurilma ekran kengligi(pix)    1988 non-null   float64
 14  ram                            1988 non-null   int64
 15  Qurilma xajmi(cm)              1988 non-null   float64
 16  Qurilma ekran kengligi(cm)     1988 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  1988 non-null   int64
 18  3g                             1988 non-null   int64
 19  Qurilma xajmi(pix).1           1988 non-null   float64
 20  sensorli                       1988 non-null   int64
 21  wifi                           1988 non-null   int64
 22  telefon_turi                   1988 non-null   int64
dtypes: float64(9), int64(13), object(1)
memory usage: 372.8+ KB

# Label Encoding

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2001 non-null   int64
 1   blutus                         2001 non-null   int64
 2   protsessor_tezligi             2001 non-null   float64
 3   ikkita simkartalik             2001 non-null   int64
 4   Oldi_kamera                    2001 non-null   int64
 5   4G                             2001 non-null   int64
 6   Ichki_xotira                   2001 non-null   int64
 7   tel_ingichgaligi               1998 non-null   float64
 8   Rangi                          2001 non-null   object
 9   Vazni                          2001 non-null   int64
 10  Protsessor yadrolari soni      2000 non-null   float64
 11  Asosiy kamera                  1999 non-null   float64
 12  Qurilma xajmi(pix)             1999 non-null   float64
 13  Qurilma ekran kengligi(pix)    1998 non-null   float64
 14  ram                            2001 non-null   int64
 15  Qurilma xajmi(cm)              2000 non-null   float64
 16  Qurilma ekran kengligi(cm)     2000 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  2001 non-null   int64
 18  3g                             2001 non-null   int64
 19  Qurilma xajmi(pix).1           1999 non-null   float64
 20  sensorli                       2001 non-null   int64
 21  wifi                           2001 non-null   int64
 22  telefon_turi                   2001 non-null   int64
dtypes: float64(9), int64(13), object(1)
memory usage: 359.7+ KB

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1988 entries, 0 to 2000
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                1988 non-null   int64
 1   blutus                         1988 non-null   int64
 2   protsessor_tezligi             1988 non-null   float64
 3   ikkita simkartalik             1988 non-null   int64
 4   Oldi_kamera                    1988 non-null   int64
 5   4G                             1988 non-null   int64
 6   Ichki_xotira                   1988 non-null   int64
 7   tel_ingichgaligi               1988 non-null   float64
 8   Rangi                          1988 non-null   object
 9   Vazni                          1988 non-null   int64
 10  Protsessor yadrolari soni      1988 non-null   float64
 11  Asosiy kamera                  1988 non-null   float64
 12  Qurilma xajmi(pix)             1988 non-null   float64
 13  Qurilma ekran kengligi(pix)    1988 non-null   float64
 14  ram                            1988 non-null   int64
 15  Qurilma xajmi(cm)              1988 non-null   float64
 16  Qurilma ekran kengligi(cm)     1988 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  1988 non-null   int64
 18  3g                             1988 non-null   int64
 19  Qurilma xajmi(pix).1           1988 non-null   float64
 20  sensorli                       1988 non-null   int64
 21  wifi                           1988 non-null   int64
 22  telefon_turi                   1988 non-null   int64
dtypes: float64(9), int64(13), object(1)
memory usage: 372.8+ KB

In [6]:
df['Rangi'].value_counts()

Rangi
Qora         1977
Yashil          7
Qizil           1
Sariq           1
Jigarrang       1
Oq              1
Name: count, dtype: int64

In [7]:
# kutubxonani chaqiramiz
from sklearn.preprocessing import LabelEncoder

In [8]:
encoder=LabelEncoder()

In [9]:
df['Rangi']=encoder.fit_transform(df['Rangi'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1988 entries, 0 to 2000
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                1988 non-null   int64
 1   blutus                         1988 non-null   int64
 2   protsessor_tezligi             1988 non-null   float64
 3   ikkita simkartalik             1988 non-null   int64
 4   Oldi_kamera                    1988 non-null   int64
 5   4G                             1988 non-null   int64
 6   Ichki_xotira                   1988 non-null   int64
 7   tel_ingichgaligi               1988 non-null   float64
 8   Rangi                          1988 non-null   int64
 9   Vazni                          1988 non-null   int64
 10  Protsessor yadrolari soni      1988 non-null   float64
 11  Asosiy kamera                  1988 non-null   float64
 12  Qurilma xajmi(pix)             1988 non-null   float64
 13  Qurilma ekran kengligi(pix)    1988 non-null   float64
 14  ram                            1988 non-null   int64
 15  Qurilma xajmi(cm)              1988 non-null   float64
 16  Qurilma ekran kengligi(cm)     1988 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  1988 non-null   int64
 18  3g                             1988 non-null   int64
 19  Qurilma xajmi(pix).1           1988 non-null   float64
 20  sensorli                       1988 non-null   int64
 21  wifi                           1988 non-null   int64
 22  telefon_turi                   1988 non-null   int64
dtypes: float64(9), int64(14)
memory usage: 372.8 KB

In [11]:
df['Rangi']

0       2
1       5
2       4
3       0
4       1
       ..
1996    3
1997    3
1998    3
1999    3
2000    3
Name: Rangi, Length: 1988, dtype: int64

# Target Encoding

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2001 non-null   int64
 1   blutus                         2001 non-null   int64
 2   protsessor_tezligi             2001 non-null   float64
 3   ikkita simkartalik             2001 non-null   int64
 4   Oldi_kamera                    2001 non-null   int64
 5   4G                             2001 non-null   int64
 6   Ichki_xotira                   2001 non-null   int64
 7   tel_ingichgaligi               1998 non-null   float64
 8   Rangi                          2001 non-null   object
 9   Vazni                          2001 non-null   int64
 10  Protsessor yadrolari soni      2000 non-null   float64
 11  Asosiy kamera                  1999 non-null   float64
 12  Qurilma xajmi(pix)             1999 non-null   float64
 13  Qurilma ekran kengligi(pix)    1998 non-null   float64
 14  ram                            2001 non-null   int64
 15  Qurilma xajmi(cm)              2000 non-null   float64
 16  Qurilma ekran kengligi(cm)     2000 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  2001 non-null   int64
 18  3g                             2001 non-null   int64
 19  Qurilma xajmi(pix).1           1999 non-null   float64
 20  sensorli                       2001 non-null   int64
 21  wifi                           2001 non-null   int64
 22  telefon_turi                   2001 non-null   int64
dtypes: float64(9), int64(13), object(1)
memory usage: 359.7+ KB

In [6]:
df.isnull().sum()

battereya_hajmi                  0
blutus                           0
protsessor_tezligi               0
ikkita simkartalik               0
Oldi_kamera                      0
4G                               0
Ichki_xotira                     0
tel_ingichgaligi                 3
Rangi                            0
Vazni                            0
Protsessor yadrolari soni        1
Asosiy kamera                    2
Qurilma xajmi(pix)               2
Qurilma ekran kengligi(pix)      3
ram                              0
Qurilma xajmi(cm)                1
Qurilma ekran kengligi(cm)       1
Bir_quvvatlashdagi gaplashish    0
3g                               0
Qurilma xajmi(pix).1             2
sensorli                         0
wifi                             0
telefon_turi                     0
dtype: int64

In [7]:
df=df.dropna()

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1988 entries, 0 to 2000
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                1988 non-null   int64
 1   blutus                         1988 non-null   int64
 2   protsessor_tezligi             1988 non-null   float64
 3   ikkita simkartalik             1988 non-null   int64
 4   Oldi_kamera                    1988 non-null   int64
 5   4G                             1988 non-null   int64
 6   Ichki_xotira                   1988 non-null   int64
 7   tel_ingichgaligi               1988 non-null   float64
 8   Rangi                          1988 non-null   object
 9   Vazni                          1988 non-null   int64
 10  Protsessor yadrolari soni      1988 non-null   float64
 11  Asosiy kamera                  1988 non-null   float64
 12  Qurilma xajmi(pix)             1988 non-null   float64
 13  Qurilma ekran kengligi(pix)    1988 non-null   float64
 14  ram                            1988 non-null   int64
 15  Qurilma xajmi(cm)              1988 non-null   float64
 16  Qurilma ekran kengligi(cm)     1988 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  1988 non-null   int64
 18  3g                             1988 non-null   int64
 19  Qurilma xajmi(pix).1           1988 non-null   float64
 20  sensorli                       1988 non-null   int64
 21  wifi                           1988 non-null   int64
 22  telefon_turi                   1988 non-null   int64
dtypes: float64(9), int64(13), object(1)
memory usage: 372.8+ KB

In [10]:
df['Rangi']

0           Qizil
1          Yashil
2           Sariq
3       Jigarrang
4              Oq
          ...
1996         Qora
1997         Qora
1998         Qora
1999         Qora
2000         Qora
Name: Rangi, Length: 1988, dtype: object

In [11]:
df['telefon_turi']

0       1
1       2
2       2
3       2
4       1
       ..
1996    0
1997    2
1998    3
1999    0
2000    3
Name: telefon_turi, Length: 1988, dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1988 entries, 0 to 2000
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                1988 non-null   int64
 1   blutus                         1988 non-null   int64
 2   protsessor_tezligi             1988 non-null   float64
 3   ikkita simkartalik             1988 non-null   int64
 4   Oldi_kamera                    1988 non-null   int64
 5   4G                             1988 non-null   int64
 6   Ichki_xotira                   1988 non-null   int64
 7   tel_ingichgaligi               1988 non-null   float64
 8   Rangi                          1988 non-null   object
 9   Vazni                          1988 non-null   int64
 10  Protsessor yadrolari soni      1988 non-null   float64
 11  Asosiy kamera                  1988 non-null   float64
 12  Qurilma xajmi(pix)             1988 non-null   float64
 13  Qurilma ekran kengligi(pix)    1988 non-null   float64
 14  ram                            1988 non-null   int64
 15  Qurilma xajmi(cm)              1988 non-null   float64
 16  Qurilma ekran kengligi(cm)     1988 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  1988 non-null   int64
 18  3g                             1988 non-null   int64
 19  Qurilma xajmi(pix).1           1988 non-null   float64
 20  sensorli                       1988 non-null   int64
 21  wifi                           1988 non-null   int64
 22  telefon_turi                   1988 non-null   int64
dtypes: float64(9), int64(13), object(1)
memory usage: 372.8+ KB

In [13]:
df['Rangi_target']=df.groupby('Rangi')['telefon_turi'].transform('mean')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1988 entries, 0 to 2000
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                1988 non-null   int64
 1   blutus                         1988 non-null   int64
 2   protsessor_tezligi             1988 non-null   float64
 3   ikkita simkartalik             1988 non-null   int64
 4   Oldi_kamera                    1988 non-null   int64
 5   4G                             1988 non-null   int64
 6   Ichki_xotira                   1988 non-null   int64
 7   tel_ingichgaligi               1988 non-null   float64
 8   Rangi                          1988 non-null   object
 9   Vazni                          1988 non-null   int64
 10  Protsessor yadrolari soni      1988 non-null   float64
 11  Asosiy kamera                  1988 non-null   float64
 12  Qurilma xajmi(pix)             1988 non-null   float64
 13  Qurilma ekran kengligi(pix)    1988 non-null   float64
 14  ram                            1988 non-null   int64
 15  Qurilma xajmi(cm)              1988 non-null   float64
 16  Qurilma ekran kengligi(cm)     1988 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  1988 non-null   int64
 18  3g                             1988 non-null   int64
 19  Qurilma xajmi(pix).1           1988 non-null   float64
 20  sensorli                       1988 non-null   int64
 21  wifi                           1988 non-null   int64
 22  telefon_turi                   1988 non-null   int64
 23  Rangi_target                   1988 non-null   float64
dtypes: float64(10), int64(13), object(1)
memory usage: 388.3+ KB

In [15]:
df['Rangi_target']

0       1.000000
1       1.142857
2       2.000000
3       2.000000
4       1.000000
          ...
1996    1.499241
1997    1.499241
1998    1.499241
1999    1.499241
2000    1.499241
Name: Rangi_target, Length: 1988, dtype: float64

In [17]:
df.drop(columns='Rangi', inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1988 entries, 0 to 2000
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                1988 non-null   int64
 1   blutus                         1988 non-null   int64
 2   protsessor_tezligi             1988 non-null   float64
 3   ikkita simkartalik             1988 non-null   int64
 4   Oldi_kamera                    1988 non-null   int64
 5   4G                             1988 non-null   int64
 6   Ichki_xotira                   1988 non-null   int64
 7   tel_ingichgaligi               1988 non-null   float64
 8   Vazni                          1988 non-null   int64
 9   Protsessor yadrolari soni      1988 non-null   float64
 10  Asosiy kamera                  1988 non-null   float64
 11  Qurilma xajmi(pix)             1988 non-null   float64
 12  Qurilma ekran kengligi(pix)    1988 non-null   float64
 13  ram                            1988 non-null   int64
 14  Qurilma xajmi(cm)              1988 non-null   float64
 15  Qurilma ekran kengligi(cm)     1988 non-null   float64
 16  Bir_quvvatlashdagi gaplashish  1988 non-null   int64
 17  3g                             1988 non-null   int64
 18  Qurilma xajmi(pix).1           1988 non-null   float64
 19  sensorli                       1988 non-null   int64
 20  wifi                           1988 non-null   int64
 21  telefon_turi                   1988 non-null   int64
 22  Rangi_target                   1988 non-null   float64
dtypes: float64(10), int64(13)
memory usage: 372.8 KB