# For loop

In [1]:
# dastlabki kodlar bloki
a=[1,2,3,4]
print(a)

[1, 2, 3, 4]

In [2]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])

1
2
3
4

In [3]:
for i in a:
    print(i)

1
2
3
4

In [8]:
# Range
for i in range(1,51):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [9]:
b=['mushuk','it','sigir']
for i in b:
    print(i)

mushuk
it
sigir

In [19]:
c=['hello,67,Falce,4.9']

In [24]:
c=['hello',67,True,4.6]
for i in c:
    print(i)

hello
67
True
4.6

In [25]:
c=['ok',23,False,2.5]
for i in c:
    print(i)

ok
23
False
2.5

In [26]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [29]:
sum2=0
for i in range(1,21):
    sum2=sum2+i
    print(i)
print(sum2)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
210

In [35]:
top=1
for i in range(1,6):
    top=top*i
print(top)

120

In [33]:
print(1*2*3*4*5)

120

In [ ]:
for i in range(1,21,2):        # 1dan 20gacha toq sonlarni chiqarish
    print(i)

1
3
5
7
9
11
13
15
17
19

In [39]:
for i in range(1,21):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for i in range(0,21,2):    # juft sonlarni chiqarish
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [4]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv('telefon turini aniqlash2.csv')

In [6]:
df.head()

,battereya_hajmi,blutus,protsessor_tezligi,ikkita simkartalik,Oldi_kamera,4G,Ichki_xotira,tel_ingichgaligi,Rangi,Vazni,...,Qurilma ekran kengligi(pix),ram,Qurilma xajmi(cm),Qurilma ekran kengligi(cm),Bir_quvvatlashdagi gaplashish,3g,Qurilma xajmi(pix).1,sensorli,wifi,telefon_turi
0,842,0,2.2,0,1,0,7,0.6,Qizil,188,...,756.0,2549,9.0,7.0,19,0,20.0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,Yashil,136,...,1988.0,2631,17.0,3.0,7,1,905.0,1,0,2
2,563,1,0.5,1,2,1,41,0.9,Sariq,145,...,1716.0,2603,11.0,2.0,9,1,1263.0,1,0,2
3,615,1,2.5,0,0,0,10,0.8,Jigarrang,131,...,1786.0,2769,16.0,8.0,11,1,1216.0,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,Oq,141,...,1212.0,1411,8.0,2.0,15,1,1208.0,1,0,1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2001 non-null   int64
 1   blutus                         2001 non-null   int64
 2   protsessor_tezligi             2001 non-null   float64
 3   ikkita simkartalik             2001 non-null   int64
 4   Oldi_kamera                    2001 non-null   int64
 5   4G                             2001 non-null   int64
 6   Ichki_xotira                   2001 non-null   int64
 7   tel_ingichgaligi               1998 non-null   float64
 8   Rangi                          2001 non-null   object
 9   Vazni                          2001 non-null   int64
 10  Protsessor yadrolari soni      2000 non-null   float64
 11  Asosiy kamera                  1999 non-null   float64
 12  Qurilma xajmi(pix)             1999 non-null   float64
 13  Qurilma ekran kengligi(pix)    1998 non-null   float64
 14  ram                            2001 non-null   int64
 15  Qurilma xajmi(cm)              2000 non-null   float64
 16  Qurilma ekran kengligi(cm)     2000 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  2001 non-null   int64
 18  3g                             2001 non-null   int64
 19  Qurilma xajmi(pix).1           1999 non-null   float64
 20  sensorli                       2001 non-null   int64
 21  wifi                           2001 non-null   int64
 22  telefon_turi                   2001 non-null   int64
dtypes: float64(9), int64(13), object(1)
memory usage: 359.7+ KB

In [8]:
df.isnull().sum()

battereya_hajmi                  0
blutus                           0
protsessor_tezligi               0
ikkita simkartalik               0
Oldi_kamera                      0
4G                               0
Ichki_xotira                     0
tel_ingichgaligi                 3
Rangi                            0
Vazni                            0
Protsessor yadrolari soni        1
Asosiy kamera                    2
Qurilma xajmi(pix)               2
Qurilma ekran kengligi(pix)      3
ram                              0
Qurilma xajmi(cm)                1
Qurilma ekran kengligi(cm)       1
Bir_quvvatlashdagi gaplashish    0
3g                               0
Qurilma xajmi(pix).1             2
sensorli                         0
wifi                             0
telefon_turi                     0
dtype: int64

In [52]:
df['tel_ingichgaligi'].fillna(df['tel_ingichgaligi'].mean(), inplace=True)

C:\Users\xolmu\AppData\Local\Temp\ipykernel_21780\1011622389.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['tel_ingichgaligi'].fillna(df['tel_ingichgaligi'].mean(), inplace=True)

In [9]:
for col in df.columns:
    if df[col].dtype=='object':
        df[col].fillna(df[col].mode()[0],inplace=True)
    else:
        df[col].fillna(df[col].mean(), inplace=True)

C:\Users\xolmu\AppData\Local\Temp\ipykernel_8528\1380464465.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)
C:\Users\xolmu\AppData\Local\Temp\ipykernel_8528\1380464465.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0],inplace=True)

In [ ]:
df.isnull().sum()        # tushib qolgan qiymatlar soni endi 0 boldi

battereya_hajmi                  0
blutus                           0
protsessor_tezligi               0
ikkita simkartalik               0
Oldi_kamera                      0
4G                               0
Ichki_xotira                     0
tel_ingichgaligi                 0
Rangi                            0
Vazni                            0
Protsessor yadrolari soni        0
Asosiy kamera                    0
Qurilma xajmi(pix)               0
Qurilma ekran kengligi(pix)      0
ram                              0
Qurilma xajmi(cm)                0
Qurilma ekran kengligi(cm)       0
Bir_quvvatlashdagi gaplashish    0
3g                               0
Qurilma xajmi(pix).1             0
sensorli                         0
wifi                             0
telefon_turi                     0
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2001 non-null   int64
 1   blutus                         2001 non-null   int64
 2   protsessor_tezligi             2001 non-null   float64
 3   ikkita simkartalik             2001 non-null   int64
 4   Oldi_kamera                    2001 non-null   int64
 5   4G                             2001 non-null   int64
 6   Ichki_xotira                   2001 non-null   int64
 7   tel_ingichgaligi               2001 non-null   float64
 8   Vazni                          2001 non-null   int64
 9   Protsessor yadrolari soni      2001 non-null   float64
 10  Asosiy kamera                  2001 non-null   float64
 11  Qurilma xajmi(pix)             2001 non-null   float64
 12  Qurilma ekran kengligi(pix)    2001 non-null   float64
 13  ram                            2001 non-null   int64
 14  Qurilma xajmi(cm)              2001 non-null   float64
 15  Qurilma ekran kengligi(cm)     2001 non-null   float64
 16  Bir_quvvatlashdagi gaplashish  2001 non-null   int64
 17  3g                             2001 non-null   int64
 18  Qurilma xajmi(pix).1           2001 non-null   float64
 19  sensorli                       2001 non-null   int64
 20  wifi                           2001 non-null   int64
 21  telefon_turi                   2001 non-null   int64
 22  Rangi_Oq                       2001 non-null   int64
 23  Rangi_Qizil                    2001 non-null   int64
 24  Rangi_Qora                     2001 non-null   int64
 25  Rangi_Sariq                    2001 non-null   int64
 26  Rangi_Yashil                   2001 non-null   int64
dtypes: float64(9), int64(18)
memory usage: 422.2 KB

In [12]:
df_encoded=df.copy()

In [13]:
from sklearn.preprocessing import LabelEncoder
for col in df_encoded.select_dtypes(include=['object']).columns:
    cardinality=df_encoded[col].nunique()
    if cardinality<=5:
        le=LabelEncoder()
        df_encoded[col]=le.fit_transform(df_encoded[col])
    else:
        df_encoded=pd.get_dummies(df_encoded,columns=[col],dtype=int, drop_first=True)
    df=df_encoded

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2001 non-null   int64
 1   blutus                         2001 non-null   int64
 2   protsessor_tezligi             2001 non-null   float64
 3   ikkita simkartalik             2001 non-null   int64
 4   Oldi_kamera                    2001 non-null   int64
 5   4G                             2001 non-null   int64
 6   Ichki_xotira                   2001 non-null   int64
 7   tel_ingichgaligi               2001 non-null   float64
 8   Vazni                          2001 non-null   int64
 9   Protsessor yadrolari soni      2001 non-null   float64
 10  Asosiy kamera                  2001 non-null   float64
 11  Qurilma xajmi(pix)             2001 non-null   float64
 12  Qurilma ekran kengligi(pix)    2001 non-null   float64
 13  ram                            2001 non-null   int64
 14  Qurilma xajmi(cm)              2001 non-null   float64
 15  Qurilma ekran kengligi(cm)     2001 non-null   float64
 16  Bir_quvvatlashdagi gaplashish  2001 non-null   int64
 17  3g                             2001 non-null   int64
 18  Qurilma xajmi(pix).1           2001 non-null   float64
 19  sensorli                       2001 non-null   int64
 20  wifi                           2001 non-null   int64
 21  telefon_turi                   2001 non-null   int64
 22  Rangi_Oq                       2001 non-null   int64
 23  Rangi_Qizil                    2001 non-null   int64
 24  Rangi_Qora                     2001 non-null   int64
 25  Rangi_Sariq                    2001 non-null   int64
 26  Rangi_Yashil                   2001 non-null   int64
dtypes: float64(9), int64(18)
memory usage: 422.2 KB

In [15]:
df['sensorli'].value_counts()

sensorli
1    1007
0     994
Name: count, dtype: int64