# Klib

In [59]:
!pip install klib

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: C:\Users\xolmu\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Collecting klib
  Downloading klib-1.3.2-py3-none-any.whl.metadata (7.4 kB)
Collecting jinja2>=3.1.0 (from klib)
  Downloading jinja2-3.1.6-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: matplotlib>=3.6.0 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from klib) (3.10.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from klib) (2.2.2)
Requirement already satisfied: pandas<3.0,>=1.4 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from klib) (2.2.3)
Collecting plotly>=5.11.0 (from klib)
  Downloading plotly-6.0.1-py3-none-any.whl.metadata (6.7 kB)
Requirement already satisfied: scipy>=1.10.0 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from klib) (1.15.1)
Collecting screeninfo>=0.8.1 (from klib)
  Downloading screeninfo-0.8.1-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: seaborn>=0.12.0 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from klib) (0.13.2)
Collecting MarkupSafe>=2.0 (from jinja2>=3.1.0->klib)
  Downloading MarkupSafe-3.0.2-cp311-cp311-win_amd64.whl.metadata (4.1 kB)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.6.0->klib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.6.0->klib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.6.0->klib) (4.55.8)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.6.0->klib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.6.0->klib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.6.0->klib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.6.0->klib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.6.0->klib) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas<3.0,>=1.4->klib) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas<3.0,>=1.4->klib) (2025.1)
Collecting narwhals>=1.15.1 (from plotly>=5.11.0->klib)
  Downloading narwhals-1.34.0-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: six>=1.5 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.7->matplotlib>=3.6.0->klib) (1.17.0)
Downloading klib-1.3.2-py3-none-any.whl (23 kB)
Downloading jinja2-3.1.6-py3-none-any.whl (134 kB)
   ---------------------------------------- 0.0/134.9 kB ? eta -:--:--
   ---------------------------------------  133.1/134.9 kB 4.0 MB/s eta 0:00:01
   ---------------------------------------- 134.9/134.9 kB 2.7 MB/s eta 0:00:00
Downloading plotly-6.0.1-py3-none-any.whl (14.8 MB)
   ---------------------------------------- 0.0/14.8 MB ? eta -:--:--
   -- ------------------------------------- 0.9/14.8 MB 29.1 MB/s eta 0:00:01
   --- ------------------------------------ 1.2/14.8 MB 24.6 MB/s eta 0:00:01
   --- ------------------------------------ 1.3/14.8 MB 10.5 MB/s eta 0:00:02
   --- ------------------------------------ 1.4/14.8 MB 9.2 MB/s eta 0:00:02
   ---- ----------------------------------- 1.8/14.8 MB 7.9 MB/s eta 0:00:02
   -------- ------------------------------- 3.1/14.8 MB 11.1 MB/s eta 0:00:02
   -------------- ------------------------- 5.3/14.8 MB 16.9 MB/s eta 0:00:01
   -------------- ------------------------- 5.4/14.8 MB 16.5 MB/s eta 0:00:01
   -------------- ------------------------- 5.5/14.8 MB 13.6 MB/s eta 0:00:01
   --------------- ------------------------ 5.7/14.8 MB 12.9 MB/s eta 0:00:01
   ---------------- ----------------------- 6.0/14.8 MB 12.3 MB/s eta 0:00:01
   ------------------------ --------------- 9.0/14.8 MB 15.9 MB/s eta 0:00:01
   -------------------------------- ------- 12.0/14.8 MB 26.2 MB/s eta 0:00:01
   ------------------------------------- -- 13.9/14.8 MB 28.4 MB/s eta 0:00:01
   ---------------------------------------  14.8/14.8 MB 28.5 MB/s eta 0:00:01
   ---------------------------------------- 14.8/14.8 MB 25.2 MB/s eta 0:00:00
Downloading screeninfo-0.8.1-py3-none-any.whl (12 kB)
Downloading MarkupSafe-3.0.2-cp311-cp311-win_amd64.whl (15 kB)
Downloading narwhals-1.34.0-py3-none-any.whl (325 kB)
   ---------------------------------------- 0.0/325.3 kB ? eta -:--:--
   --------------------------------------- 325.3/325.3 kB 19.7 MB/s eta 0:00:00
Installing collected packages: screeninfo, narwhals, MarkupSafe, plotly, jinja2, klib
Successfully installed MarkupSafe-3.0.2 jinja2-3.1.6 klib-1.3.2 narwhals-1.34.0 plotly-6.0.1 screeninfo-0.8.1

In [60]:
import pandas as pd
import klib

In [61]:
df=pd.read_csv('tuberculosis_xray_dataset 4.csv')

In [62]:
df.head()

,Patient_ID,Age,Gender,Chest_Pain,Cough_Severity,Breathlessness,Fatigue,Weight_Loss,Fever,Night_Sweats,Sputum_Production,Blood_in_Sputum,Smoking_History,Previous_TB_History,Class
0,PID000001,69,Male,Yes,1.0,2.0,3,2.37,Moderate,Yes,Medium,Yes,Former,Yes,Normal
1,PID000002,32,Female,Yes,3.0,0.0,9,6.09,Moderate,No,Medium,No,Current,Yes,Normal
2,PID000003,89,Male,No,7.0,0.0,3,2.86,Mild,Yes,Medium,No,Current,No,Tuberculosis
3,PID000004,78,Female,Yes,2.0,0.0,6,4.57,Moderate,No,High,Yes,Never,Yes,Tuberculosis
4,PID000005,38,Male,No,7.0,2.0,5,13.86,High,Yes,Low,No,Never,Yes,Tuberculosis

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19986 non-null  object
 4   Cough_Severity       19985 non-null  float64
 5   Breathlessness       19986 non-null  float64
 6   Fatigue              19986 non-null  object
 7   Weight_Loss          19986 non-null  object
 8   Fever                19986 non-null  object
 9   Night_Sweats         19986 non-null  object
 10  Sputum_Production    19986 non-null  object
 11  Blood_in_Sputum      19986 non-null  object
 12  Smoking_History      19985 non-null  object
 13  Previous_TB_History  19985 non-null  object
 14  Class                19884 non-null  object
dtypes: float64(2), object(13)
memory usage: 2.3+ MB

In [64]:
df=klib.data_cleaning(df)

Shape of cleaned data: (19986, 15) - Remaining NAs: 106


Dropped rows: 0
     of which 0 duplicates. (Rows (first 150 shown): [])

Dropped columns: 0
     of which 0 single valued.     Columns: []
Dropped missing values: 0
Reduced memory by at least: 1.62 MB (-70.74%)

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   patient_id           19986 non-null  string
 1   age                  19986 non-null  category
 2   gender               19985 non-null  category
 3   chest_pain           19986 non-null  category
 4   cough_severity       19985 non-null  float32
 5   breathlessness       19986 non-null  float32
 6   fatigue              19986 non-null  category
 7   weight_loss          19986 non-null  string
 8   fever                19986 non-null  category
 9   night_sweats         19986 non-null  category
 10  sputum_production    19986 non-null  category
 11  blood_in_sputum      19986 non-null  category
 12  smoking_history      19985 non-null  category
 13  previous_tb_history  19985 non-null  category
 14  class                19884 non-null  category
dtypes: category(11), float32(2), string(2)
memory usage: 689.2 KB

In [66]:
df.head()

,patient_id,age,gender,chest_pain,cough_severity,breathlessness,fatigue,weight_loss,fever,night_sweats,sputum_production,blood_in_sputum,smoking_history,previous_tb_history,class
0,PID000001,69,Male,Yes,1.0,2.0,3,2.37,Moderate,Yes,Medium,Yes,Former,Yes,Normal
1,PID000002,32,Female,Yes,3.0,0.0,9,6.09,Moderate,No,Medium,No,Current,Yes,Normal
2,PID000003,89,Male,No,7.0,0.0,3,2.86,Mild,Yes,Medium,No,Current,No,Tuberculosis
3,PID000004,78,Female,Yes,2.0,0.0,6,4.57,Moderate,No,High,Yes,Never,Yes,Tuberculosis
4,PID000005,38,Male,No,7.0,2.0,5,13.86,High,Yes,Low,No,Never,Yes,Tuberculosis

# Tabulate

In [2]:
!pip install tabulate
from tabulate import tabulate

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl.metadata (34 kB)
Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: C:\Users\xolmu\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
headers=['Ismi','tugilgan yili','viloyati','Olgan bali']
table=[['Alisher','1998','Buxoro','147'],
      ['Vali','2000','Namangan','154'],
['Nodir','1994','Toshkent','152'],
['Jasur','1995','Navoiy','157']]

print(tabulate(table,headers=headers,tablefmt='grid'))

+---------+-----------------+------------+--------------+
| Ismi    |   tugilgan yili | viloyati   |   Olgan bali |
+=========+=================+============+==============+
| Alisher |            1998 | Buxoro     |          147 |
+---------+-----------------+------------+--------------+
| Vali    |            2000 | Namangan   |          154 |
+---------+-----------------+------------+--------------+
| Nodir   |            1994 | Toshkent   |          152 |
+---------+-----------------+------------+--------------+
| Jasur   |            1995 | Navoiy     |          157 |
+---------+-----------------+------------+--------------+

# Funksiya

In [15]:
def xayrlashish():
    print('xayr')

In [16]:
xayrlashish()

xayr

In [18]:
def xayrlash():
    name=str(input("xayrlashing:"))
    print(f"xayr {name}")

In [19]:
xayrlash()

xayr xola

In [20]:
def daraja(x):
    print(x**2)

In [21]:
daraja(16)

256

In [22]:
daraja(14)

196

In [24]:
type(daraja(14))

196

NoneType

In [23]:
daraja(11)

121

In [25]:
def ayir(x,y):
    print(x-y)

In [26]:
ayir(17,5)

12

In [27]:
def ayir(x,y):
    return x-y

In [28]:
ayir(45,23)

22

In [ ]:
def max(5,8):

In [49]:
max(5,7)

7

In [50]:
max(5,5)

5

In [4]:
def plus_8(x):
    print(x+8)

In [5]:
plus_8(34)

42

In [6]:
a=6
b=9
print(a+6*b)

60

In [7]:
plus_8(87)

95

In [31]:
def hello():
    name=input(str('ismingizni kiriting:'))
    print(f"Salom {name}")

In [32]:
hello()

Salom xola

In [ ]:
def hello2(Python):
    print(f" Salom {Python}")

In [33]:
hello2('Hello ')

NameError: name 'hello2' is not defined

In [34]:
def daraja2(a,b):
    return a+b
result=daraja2(4,5)
print(result)

9

In [ ]:
def daraja3(a,b):
    return a+b

In [36]:
daraja3(5,6)

NameError: name 'daraja3' is not defined

In [ ]:
def sonlar(a,b):
    if a>b:
        return('a soni katta')
    elif a<b:
        print('b soni katta')
    else:
        print('ikkala son teng')

In [48]:
sonlar(2,3)

NameError: name 'sonlar' is not defined

# Lambda Function

In [51]:
print((lambda x: x**2)(7))

49

In [52]:
print((lambda x,y: x+y)(5,8))

13

In [53]:
print((lambda name: f"Salom {name}")('dost'))

Salom dost

In [ ]:
# Oddiy funksion
def daraja2(a,b):
    return a**b

In [55]:
daraja2(6,7)

13

In [56]:
# Lambda f-n
print((lambda a: a**4)(7))

2401

In [57]:
print((lambda x,y: (x+y)/2)(3,5))

4.0

In [58]:
print((lambda name: f" Xush keldingiz {name}")('Janob'))

 Xush keldingiz Janob

In [ ]:
#print((lambda o'zgaruvchilar: formula)(qiymatlar))