# Feature Engineering

In [1]:
import pandas as pd
from datacleaner import autoclean
from sklearn.feature_selection import mutual_info_classif
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('tuberculosis_xray_dataset 4.csv')

In [3]:
df.head()

,Patient_ID,Age,Gender,Chest_Pain,Cough_Severity,Breathlessness,Fatigue,Weight_Loss,Fever,Night_Sweats,Sputum_Production,Blood_in_Sputum,Smoking_History,Previous_TB_History,Class
0,PID000001,69,Male,Yes,1.0,2.0,3,2.37,Moderate,Yes,Medium,Yes,Former,Yes,Normal
1,PID000002,32,Female,Yes,3.0,0.0,9,6.09,Moderate,No,Medium,No,Current,Yes,Normal
2,PID000003,89,Male,No,7.0,0.0,3,2.86,Mild,Yes,Medium,No,Current,No,Tuberculosis
3,PID000004,78,Female,Yes,2.0,0.0,6,4.57,Moderate,No,High,Yes,Never,Yes,Tuberculosis
4,PID000005,38,Male,No,7.0,2.0,5,13.86,High,Yes,Low,No,Never,Yes,Tuberculosis

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19986 non-null  object
 4   Cough_Severity       19985 non-null  float64
 5   Breathlessness       19986 non-null  float64
 6   Fatigue              19986 non-null  object
 7   Weight_Loss          19986 non-null  object
 8   Fever                19986 non-null  object
 9   Night_Sweats         19986 non-null  object
 10  Sputum_Production    19986 non-null  object
 11  Blood_in_Sputum      19986 non-null  object
 12  Smoking_History      19985 non-null  object
 13  Previous_TB_History  19985 non-null  object
 14  Class                19884 non-null  object
dtypes: float64(2), object(13)
memory usage: 2.3+ MB

In [5]:
df['Class'].value_counts()

Class
Normal          13994
Tuberculosis     5890
Name: count, dtype: int64

# Feature Engineering

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19986 non-null  object
 4   Cough_Severity       19985 non-null  float64
 5   Breathlessness       19986 non-null  float64
 6   Fatigue              19986 non-null  object
 7   Weight_Loss          19986 non-null  object
 8   Fever                19986 non-null  object
 9   Night_Sweats         19986 non-null  object
 10  Sputum_Production    19986 non-null  object
 11  Blood_in_Sputum      19986 non-null  object
 12  Smoking_History      19985 non-null  object
 13  Previous_TB_History  19985 non-null  object
 14  Class                19884 non-null  object
dtypes: float64(2), object(13)
memory usage: 2.3+ MB

In [ ]:
df['Chest_Pain']

0        Yes
1        Yes
2         No
3        Yes
4         No
        ...
19981     No
19982     No
19983     No
19984     No
19985     No
Name: Chest_Pain, Length: 19986, dtype: object

In [ ]:
df['Sputum_Production'].value_counts()

Cough_Severity
8.0    2063
5.0    2035
2.0    2022
1.0    2002
4.0    2001
3.0    1996
0.0    1991
6.0    1982
7.0    1969
9.0    1924
Name: count, dtype: int64

In [10]:
df['Nafas yoli_kasalliklari']=df['Chest_Pain']+df['Sputum_Production']

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Patient_ID               19986 non-null  object
 1   Age                      19986 non-null  object
 2   Gender                   19985 non-null  object
 3   Chest_Pain               19986 non-null  object
 4   Cough_Severity           19985 non-null  float64
 5   Breathlessness           19986 non-null  float64
 6   Fatigue                  19986 non-null  object
 7   Weight_Loss              19986 non-null  object
 8   Fever                    19986 non-null  object
 9   Night_Sweats             19986 non-null  object
 10  Sputum_Production        19986 non-null  object
 11  Blood_in_Sputum          19986 non-null  object
 12  Smoking_History          19985 non-null  object
 13  Previous_TB_History      19985 non-null  object
 14  Class                    19884 non-null  object
 15  Nafas yoli_kasalliklari  19986 non-null  object
dtypes: float64(2), object(14)
memory usage: 2.4+ MB

In [12]:
df=autoclean(df)

C:\Users\xolmu\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\datacleaner\datacleaner.py:77: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  input_dataframe[column].fillna(input_dataframe[column].median(), inplace=True)
C:\Users\xolmu\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\datacleaner\datacleaner.py:77: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  input_dataframe[column].fillna(input_dataframe[column].median(), inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Patient_ID               19986 non-null  int64
 1   Age                      19986 non-null  int64
 2   Gender                   19986 non-null  int64
 3   Chest_Pain               19986 non-null  int64
 4   Cough_Severity           19986 non-null  float64
 5   Breathlessness           19986 non-null  float64
 6   Fatigue                  19986 non-null  int64
 7   Weight_Loss              19986 non-null  int64
 8   Fever                    19986 non-null  int64
 9   Night_Sweats             19986 non-null  int64
 10  Sputum_Production        19986 non-null  int64
 11  Blood_in_Sputum          19986 non-null  int64
 12  Smoking_History          19986 non-null  int64
 13  Previous_TB_History      19986 non-null  int64
 14  Class                    19986 non-null  int64
 15  Nafas yoli_kasalliklari  19986 non-null  int64
dtypes: float64(2), int64(14)
memory usage: 2.4 MB

In [15]:
df['Sil kasalligi simptomlari']=df['Fatigue']/df['Weight_Loss']

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Patient_ID                 19986 non-null  int64
 1   Age                        19986 non-null  int64
 2   Gender                     19986 non-null  int64
 3   Chest_Pain                 19986 non-null  int64
 4   Cough_Severity             19986 non-null  float64
 5   Breathlessness             19986 non-null  float64
 6   Fatigue                    19986 non-null  int64
 7   Weight_Loss                19986 non-null  int64
 8   Fever                      19986 non-null  int64
 9   Night_Sweats               19986 non-null  int64
 10  Sputum_Production          19986 non-null  int64
 11  Blood_in_Sputum            19986 non-null  int64
 12  Smoking_History            19986 non-null  int64
 13  Previous_TB_History        19986 non-null  int64
 14  Class                      19986 non-null  int64
 15  Nafas yoli_kasalliklari    19986 non-null  int64
 16  Sil kasalligi simptomlari  19985 non-null  float64
dtypes: float64(3), int64(14)
memory usage: 2.6 MB

In [17]:
df['Opka bilan bogliq kasalliklar']=(df['Nafas yoli_kasalliklari']==0).astype(int)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Patient_ID                     19986 non-null  int64
 1   Age                            19986 non-null  int64
 2   Gender                         19986 non-null  int64
 3   Chest_Pain                     19986 non-null  int64
 4   Cough_Severity                 19986 non-null  float64
 5   Breathlessness                 19986 non-null  float64
 6   Fatigue                        19986 non-null  int64
 7   Weight_Loss                    19986 non-null  int64
 8   Fever                          19986 non-null  int64
 9   Night_Sweats                   19986 non-null  int64
 10  Sputum_Production              19986 non-null  int64
 11  Blood_in_Sputum                19986 non-null  int64
 12  Smoking_History                19986 non-null  int64
 13  Previous_TB_History            19986 non-null  int64
 14  Class                          19986 non-null  int64
 15  Nafas yoli_kasalliklari        19986 non-null  int64
 16  Sil kasalligi simptomlari      19985 non-null  float64
 17  Opka bilan bogliq kasalliklar  19986 non-null  int64
dtypes: float64(3), int64(15)
memory usage: 2.7 MB

In [19]:
df['Opka bilan bogliq kasalliklar']

0        0
1        0
2        0
3        0
4        0
        ..
19981    0
19982    0
19983    0
19984    0
19985    0
Name: Opka bilan bogliq kasalliklar, Length: 19986, dtype: int64

# Mutual Info

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Patient_ID                     19986 non-null  int64
 1   Age                            19986 non-null  int64
 2   Gender                         19986 non-null  int64
 3   Chest_Pain                     19986 non-null  int64
 4   Cough_Severity                 19986 non-null  float64
 5   Breathlessness                 19986 non-null  float64
 6   Fatigue                        19986 non-null  int64
 7   Weight_Loss                    19986 non-null  int64
 8   Fever                          19986 non-null  int64
 9   Night_Sweats                   19986 non-null  int64
 10  Sputum_Production              19986 non-null  int64
 11  Blood_in_Sputum                19986 non-null  int64
 12  Smoking_History                19986 non-null  int64
 13  Previous_TB_History            19986 non-null  int64
 14  Class                          19986 non-null  int64
 15  Nafas yoli_kasalliklari        19986 non-null  int64
 16  Sil kasalligi simptomlari      19985 non-null  float64
 17  Opka bilan bogliq kasalliklar  19986 non-null  int64
dtypes: float64(3), int64(15)
memory usage: 2.7 MB

In [21]:
X=df.copy()

In [22]:
df.head()

,Patient_ID,Age,Gender,Chest_Pain,Cough_Severity,Breathlessness,Fatigue,Weight_Loss,Fever,Night_Sweats,Sputum_Production,Blood_in_Sputum,Smoking_History,Previous_TB_History,Class,Nafas yoli_kasalliklari,Sil kasalligi simptomlari,Opka bilan bogliq kasalliklar
0,7,51,2,11,1.0,2.0,25,738,3,4,2,5,1,3,0,21,0.033875,0
1,8,14,1,11,3.0,0.0,41,1110,3,3,2,3,0,3,0,21,0.036937,0
2,9,71,2,10,7.0,0.0,25,787,2,4,2,3,0,0,1,16,0.031766,0
3,10,60,1,11,2.0,0.0,30,958,3,3,0,5,2,3,1,19,0.031315,0
4,11,20,2,10,7.0,2.0,29,586,0,4,1,3,2,3,1,15,0.049488,0

In [23]:
X.head()

,Patient_ID,Age,Gender,Chest_Pain,Cough_Severity,Breathlessness,Fatigue,Weight_Loss,Fever,Night_Sweats,Sputum_Production,Blood_in_Sputum,Smoking_History,Previous_TB_History,Class,Nafas yoli_kasalliklari,Sil kasalligi simptomlari,Opka bilan bogliq kasalliklar
0,7,51,2,11,1.0,2.0,25,738,3,4,2,5,1,3,0,21,0.033875,0
1,8,14,1,11,3.0,0.0,41,1110,3,3,2,3,0,3,0,21,0.036937,0
2,9,71,2,10,7.0,0.0,25,787,2,4,2,3,0,0,1,16,0.031766,0
3,10,60,1,11,2.0,0.0,30,958,3,3,0,5,2,3,1,19,0.031315,0
4,11,20,2,10,7.0,2.0,29,586,0,4,1,3,2,3,1,15,0.049488,0

In [24]:
y=df.pop('Class')

In [25]:
y

0        0
1        0
2        1
3        1
4        1
        ..
19981    0
19982    1
19983    0
19984    0
19985    0
Name: Class, Length: 19986, dtype: int64

In [26]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Patient_ID                     19986 non-null  int64
 1   Age                            19986 non-null  int64
 2   Gender                         19986 non-null  int64
 3   Chest_Pain                     19986 non-null  int64
 4   Cough_Severity                 19986 non-null  float64
 5   Breathlessness                 19986 non-null  float64
 6   Fatigue                        19986 non-null  int64
 7   Weight_Loss                    19986 non-null  int64
 8   Fever                          19986 non-null  int64
 9   Night_Sweats                   19986 non-null  int64
 10  Sputum_Production              19986 non-null  int64
 11  Blood_in_Sputum                19986 non-null  int64
 12  Smoking_History                19986 non-null  int64
 13  Previous_TB_History            19986 non-null  int64
 14  Class                          19986 non-null  int64
 15  Nafas yoli_kasalliklari        19986 non-null  int64
 16  Sil kasalligi simptomlari      19985 non-null  float64
 17  Opka bilan bogliq kasalliklar  19986 non-null  int64
dtypes: float64(3), int64(15)
memory usage: 2.7 MB

In [36]:
mi_scores=mutual_info_classif(X,y)

ValueError: Input X contains NaN.

In [35]:
df.isnull().sum()

Patient_ID                       0
Age                              0
Gender                           0
Chest_Pain                       0
Cough_Severity                   0
Breathlessness                   0
Fatigue                          0
Weight_Loss                      0
Fever                            0
Night_Sweats                     0
Sputum_Production                0
Blood_in_Sputum                  0
Smoking_History                  0
Previous_TB_History              0
Nafas yoli_kasalliklari          0
Sil kasalligi simptomlari        0
Opka bilan bogliq kasalliklar    0
dtype: int64

In [28]:
mi_scores

NameError: name 'mi_scores' is not defined

In [29]:
type(mi_scores)

NameError: name 'mi_scores' is not defined

In [30]:
mi_scores_df=pd.DataFrame(mi_scores, index=X.columns, columns=['Mutual Info'])

NameError: name 'mi_scores' is not defined

In [37]:
mi_scores_df

NameError: name 'mi_scores_df' is not defined

In [38]:
mi_scores_df=mi_scores_df.sort_values(by='Mutual Info', ascending=False)

NameError: name 'mi_scores_df' is not defined

In [39]:
mi_scores_df

NameError: name 'mi_scores_df' is not defined

In [40]:
mi_scores_df.head()

NameError: name 'mi_scores_df' is not defined

In [41]:
top_scores=mi_scores_df.head(7)

NameError: name 'mi_scores_df' is not defined

In [42]:
top_scores

NameError: name 'top_scores' is not defined

In [43]:
plt.figure(figsize=(10,8))
plt.bar(top_scores.index, top_scores['Mutual Info'],color='skyblue')

NameError: name 'top_scores' is not defined