# class misollar

In [ ]:
class Sabzavot:
    pass
Sabzavot1=Sabzavot()      # Sabzavot classdan Sabzavot1 obyekti yaratilyabdi
print(Sabzavot1)

<__main__.Sabzavot object at 0x000002509D98D190>

In [ ]:
class Uy_hayvoni:
    def __init__(self,nomi,rangi):
        self.nomi=nomi
        self.rangi=rangi
Uy_hayvoni1=Uy_hayvoni('Sigir','Ola')
print(Uy_hayvoni1.nomi)
print(Uy_hayvoni1.rangi)

# Bu yerda Uy_hayvoni nomli klass (class) elon qilinmoqda. Klass — bu obyektlar (real hayotdagi narsalar) uchun shablon hisoblanadi.
# Masalan, Uy_hayvoni klassi orqali koplab uy hayvonlarini yaratish mumkin.

# Bu maxsus metod — __init__. U obyekt yaratishda avtomatik chaqiriladi.
# self — bu aynan yaratilayotgan obyektdir (masalan: Uy_hayvoni).
# nomi,rangi — bu foydalanuvchi tomonidan beriladigan qiymatlar (parametrlar).

#Bu yerda:
#➤ self.nomi — obyektning "nom" degan xususiyati (atributi)
#➤ = ism — bu tashqaridan (ya’ni Uy_hayvoni('Sigir','Ola')) kelayotgan qiymat.
#➤ Masalan: Uy_hayvoni.nomi = "Sigir"
#Xuddi shunday: bu yerda ham obyektga "rangi" xususiyati berilyapti.
#➤ Uy_hayvoni.rangi = Ola

# Uy_hayvoni1=Uy_hayvoni('Sigir','Ola')
# Bu yerda Uy_hayvoni klassidan obyekt yaratyapmiz.
# "Sigir" → nomi ga
# Ola → rangi ga otadi.
# Yangi obyektning nomi: Uy_hayvoni

# print(Uy_hayvoni1.rangi)
# Bu yerda Uy_hayvoni1 obyektining rang qiymati chiqariladi.
# ➤ Natija: Ola

Sigir
Ola

In [ ]:
# Klassga metod (funksiya) qoshish

class Odam:
    def __init__(self, ism, hobbisi):
        self.ism = ism
        self.hobbisi = hobbisi
    
    def salom_ber(self):
        print(f"Salom, mening ismim {self.ism} va hobbiyim {self.hobbisi}")

odam1 = Odam("Farxod", 'Futbol')
odam1.salom_ber()  # Salom, mening ismim Farxod va hobbiyim Futbol

# Bir nechta obyektlar yaratish
odam2 = Odam("Nodir", 'Voleybol')
odam2.salom_ber()  # Salom, mening ismim Laylo

Salom, mening ismim Farxod va hobbiyim Futbol
Salom, mening ismim Nodir va hobbiyim Voleybol

In [ ]:
class Telefon:
    def __init__(self, turi, xotirasi):
        self.turi=turi
        self.xotirasi=xotirasi

    def telefon_haqida(self):
        print(f'Bu telefonning turi {self.turi} va xotirasi {self.xotirasi}')

telefon1=Telefon('Samsung',256)
telefon1.telefon_haqida()

telefon2=Telefon('Iphone',256)
telefon2.telefon_haqida()

telefon3=Telefon('LG',128)
telefon3.telefon_haqida()

telefon4=Telefon('Redmi',512)
telefon4.telefon_haqida()

# __init__	turini va xotirasini qabul qilib saqlaydi(construktor)
# self.turi, self.xotirasi	Har bir telefon uchun oz xususiyatlari
# telefon_haqida() — telefon haqida malumot chiqaradi.

Bu telefonning turi Samsung va xotirasi 256
Bu telefonning turi Iphone va xotirasi 256
Bu telefonning turi LG va xotirasi 128
Bu telefonning turi Redmi va xotirasi 512

In [ ]:
class Kitob:
    def __init__(self,nomi,muallifi):
        self.nomi=nomi
        self.muallifi=muallifi

    def kitob_malumoti(self):
        print(f'Bu kitobning nomi {self.nomi} va muallifi: {self.muallifi}')

kitob1=Kitob('Yulduzli tunlar','Pirimqul Qodirov')
kitob1.kitob_malumoti()

kitob2=Kitob('Molxona','Jorj Oruell')
kitob2.kitob_malumoti()

# class Kitob yaratdingiz
 #__init__() orqali nom va muallifni saqlayapmiz
 #kitob_malumoti() metodini ishlatyapmiz
 #Ikki xil kitob obyektini yaratdik
 #Ularning ma’lumotlarini chiqarayapmiz

Bu kitobning nomi Yulduzli tunlar va muallifi: Pirimqul Qodirov
Bu kitobning nomi Molxona va muallifi: Jorj Oruell

In [27]:
class hisob_kitob_qil:
    def __init__(self,a,b):
        self.a=a
        self.b=b

    def bol(self):
        return self.a//self.b
    
    def ayir(self):
        return self.a-self.b
    
    def qosh(self):
        return self.a+self.b

bol1=hisob_kitob_qil(16,2)
print(bol1.bol())

ayir1=hisob_kitob_qil(16,2)
print(ayir1.ayir())

qosh1=hisob_kitob_qil(16,2)
print(qosh1.qosh())

8
14
18

In [ ]:
from sklearn.preprocessing import StandardScaler

In [1]:
import pandas as pd
df=pd.read_csv('personality_dataset.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2837 non-null   float64
 1   Stage_fear                 2827 non-null   object
 2   Social_event_attendance    2838 non-null   float64
 3   Going_outside              2834 non-null   float64
 4   Drained_after_socializing  2848 non-null   object
 5   Friends_circle_size        2823 non-null   float64
 6   Post_frequency             2835 non-null   float64
 7   Personality                2900 non-null   object
dtypes: float64(5), object(3)
memory usage: 181.4+ KB

In [3]:
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [ ]:
class Preprocessing_qil:
    def __init__(self,df):
        self.df=df.copy()
        self.encoder=LabelEncoder()
        self.scaling=StandardScaler()

    def tozala(self):
        for col in self.df.columns:
            if self.df[col].isnull().any():
                if self.df[col].dtype=='object':
                    self.df[col].fillna(self.df[col].mode()[0],inplace=True)
                else:
                    self.df[col].fillna(self.df[col].mean(),inplace=True)
        return self
    
    

    def encod_qil(self):
        for col in self.df.columns:
            if self.df[col].dtype=='object':
                if self.df[col].nunique() <= 6:
                    dummies=pd.get_dummies(self.df[col],prefix=col,dtype=int)
                    self.df=pd.concat([self.df.drop(columns=[col]),dummies],axis=1)
                else:
                    self.df[col]=self.encoder.fit_transform(self.df[col])
        return self
    # bu pandas get dummies orqali Encoding
    


    def scaling_qil(self):
        num_col=self.df.select_dtypes(include=['number']).columns
        self.df[num_col]=self.scaling.fit_transform(self.df[num_col])
        return self


    def dfni_tayyor_qil(self):
        return self.df

In [6]:
hammasini_tayyor_qil=Preprocessing_qil(df)
hammasini_tayyor_qil.tozala().encod_qil().scaling_qil()
df=hammasini_tayyor_qil.dfni_tayyor_qil()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Time_spent_Alone               2900 non-null   float64
 1   Social_event_attendance        2900 non-null   float64
 2   Going_outside                  2900 non-null   float64
 3   Friends_circle_size            2900 non-null   float64
 4   Post_frequency                 2900 non-null   float64
 5   Stage_fear_No                  2900 non-null   float64
 6   Stage_fear_Yes                 2900 non-null   float64
 7   Drained_after_socializing_No   2900 non-null   float64
 8   Drained_after_socializing_Yes  2900 non-null   float64
 9   Personality_Extrovert          2900 non-null   float64
 10  Personality_Introvert          2900 non-null   float64
dtypes: float64(11)
memory usage: 249.3 KB

In [ ]:
class Preprocessing_qil:
    def __init__(self,df):
        self.df=df.copy()
        self.encoder=LabelEncoder()
        self.scaling=StandardScaler()

    def tozala(self):
        for col in self.df.columns:
            if self.df[col].isnull().any():
                if self.df[col].dtype=='object':
                    self.df[col].fillna(self.df[col].mode()[0],inplace=True)
                else:
                    self.df[col].fillna(self.df[col].mean(),inplace=True)
        return self
    
    

    def encod_qil(self):
        for col in self.df.columns:
            if self.df[col].dtype=='object':
                self.df[col]=self.encoder.fit_transform(self.df[col])
        return self
    # bu LabelEncoder orqali Encoding
    


    def scaling_qil(self):
        num_col=self.df.select_dtypes(include=['number']).columns
        self.df[num_col]=self.scaling.fit_transform(self.df[num_col])
        return self


    def dfni_tayyor_qil(self):
        return self.df

In [5]:
hammasini_tayyor_qil=Preprocessing_qil(df)
hammasini_tayyor_qil.tozala().encod_qil().scaling_qil()
df=hammasini_tayyor_qil.dfni_tayyor_qil()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2900 non-null   float64
 1   Stage_fear                 2900 non-null   float64
 2   Social_event_attendance    2900 non-null   float64
 3   Going_outside              2900 non-null   float64
 4   Drained_after_socializing  2900 non-null   float64
 5   Friends_circle_size        2900 non-null   float64
 6   Post_frequency             2900 non-null   float64
 7   Personality                2900 non-null   float64
dtypes: float64(8)
memory usage: 181.4 KB

In [1]:
import pandas as pd
df=pd.read_csv('personality_dataset.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2837 non-null   float64
 1   Stage_fear                 2827 non-null   object
 2   Social_event_attendance    2838 non-null   float64
 3   Going_outside              2834 non-null   float64
 4   Drained_after_socializing  2848 non-null   object
 5   Friends_circle_size        2823 non-null   float64
 6   Post_frequency             2835 non-null   float64
 7   Personality                2900 non-null   object
dtypes: float64(5), object(3)
memory usage: 181.4+ KB

In [ ]:
# Bu har qanday target ustunni scaling qilmaydigan class,pastgi kodda target columnni nomini yozsak boldi

import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

class Preprocessing_qil:
    def __init__(self, df):
        self.df = df.copy()
        self.scaling = StandardScaler()

    def tozala(self):
        for col in self.df.columns:
            if self.df[col].isnull().any():
                if self.df[col].dtype == 'object':
                    self.df[col].fillna(self.df[col].mode()[0], inplace=True)
                else:
                    self.df[col].fillna(self.df[col].mean(), inplace=True)
        return self

    def encod_qil(self):
        for col in self.df.columns:
            if self.df[col].dtype == 'object':
                encoder = LabelEncoder()
                self.df[col] = encoder.fit_transform(self.df[col])
        return self

    def scaling_qil(self, target_col=None):
        num_col = self.df.select_dtypes(include=['number']).columns.tolist()
        if target_col and target_col in num_col:
            num_col.remove(target_col)
        self.df[num_col] = self.scaling.fit_transform(self.df[num_col])
        return self

    def dfni_tayyor_qil(self):
        return self.df

In [ ]:
hammasini_tayyor_qil = (
    Preprocessing_qil(df)
    .tozala()
    .encod_qil()
    .scaling_qil(target_col='Personality')
    .dfni_tayyor_qil()
)

In [ ]:
hammasini_tayyor_qil.head()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,-0.147014,-0.972784,0.012759,1.350613,-0.970772,1.590680,0.496104,0
1,1.306226,1.027977,-1.379944,-1.350613,1.030108,-1.481437,-0.195199,1
2,1.306226,1.027977,-1.031768,-0.450204,1.030108,-0.299853,-0.540850,1
3,-1.309607,-0.972784,0.709111,1.800817,-0.970772,1.826996,1.533059,0
4,-0.437663,-0.972784,1.753638,0.450204,-0.970772,0.409096,0.496104,0

In [7]:
hammasini_tayyor_qil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2900 non-null   float64
 1   Stage_fear                 2900 non-null   float64
 2   Social_event_attendance    2900 non-null   float64
 3   Going_outside              2900 non-null   float64
 4   Drained_after_socializing  2900 non-null   float64
 5   Friends_circle_size        2900 non-null   float64
 6   Post_frequency             2900 non-null   float64
 7   Personality                2900 non-null   int32
dtypes: float64(7), int32(1)
memory usage: 170.1 KB

In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

class Preprocessing_qil:
    def __init__(self, df):
        self.df = df.copy()
        self.scaler = StandardScaler()

    def tozala(self):
        for col in self.df.columns:
            if self.df[col].isnull().any():
                if self.df[col].dtype == 'object':
                    self.df[col].fillna(self.df[col].mode()[0], inplace=True)
                else:
                    self.df[col].fillna(self.df[col].mean(), inplace=True)
        return self

    def encod_qil(self):
        for col in self.df.columns:
            if self.df[col].dtype == 'object':
                encoder = LabelEncoder()
                self.df[col] = encoder.fit_transform(self.df[col])
        return self

    def scaling_qil(self, target_col=None):
        num_cols = self.df.select_dtypes(include=['number']).columns.tolist()
        if target_col and target_col in num_cols:
            num_cols.remove(target_col)
        self.df[num_cols] = self.scaler.fit_transform(self.df[num_cols])
        return self

    def dfni_tayyor_qil(self):
        return self.df
    
    


def preprocess(df, target_col=None):
    
    #Bu funksiya DataFrame ni qabul qiladi va quyidagi preprocessing amallarini bajaradi:
    #- tozalash (null qiymatlarni to‘ldirish)
    #- kodlash (categorical ustunlarni label encoding)
    #- o‘lchamini o‘zgartirish (scaling), target ustunni scaling qilmaydi
    #Natijada tayyor DataFrame qaytaradi.


    return (
        Preprocessing_qil(df)
        .tozala()
        .encod_qil()
        .scaling_qil(target_col=target_col)
        .dfni_tayyor_qil()
    )

In [4]:
dfni_tayyorla = preprocess(df, target_col='Personality')

In [ ]:
dfni_tayyorlainfo()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2900 non-null   float64
 1   Stage_fear                 2900 non-null   float64
 2   Social_event_attendance    2900 non-null   float64
 3   Going_outside              2900 non-null   float64
 4   Drained_after_socializing  2900 non-null   float64
 5   Friends_circle_size        2900 non-null   float64
 6   Post_frequency             2900 non-null   float64
 7   Personality                2900 non-null   int32
dtypes: float64(7), int32(1)
memory usage: 170.1 KB

In [7]:
dfni_tayyorla.head()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,-0.147014,-0.972784,0.012759,1.350613,-0.970772,1.590680,0.496104,0
1,1.306226,1.027977,-1.379944,-1.350613,1.030108,-1.481437,-0.195199,1
2,1.306226,1.027977,-1.031768,-0.450204,1.030108,-0.299853,-0.540850,1
3,-1.309607,-0.972784,0.709111,1.800817,-0.970772,1.826996,1.533059,0
4,-0.437663,-0.972784,1.753638,0.450204,-0.970772,0.409096,0.496104,0