In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('tuberculosis_xray_dataset 2.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19997 entries, 0 to 19996
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19997 non-null  object
 1   Age                  19997 non-null  object
 2   Gender               19997 non-null  object
 3   Chest_Pain           19997 non-null  object
 4   Cough_Severity       19997 non-null  int64
 5   Breathlessness       19997 non-null  int64
 6   Fatigue              19997 non-null  float64
 7   Weight_Loss          19997 non-null  object
 8   Fever                19997 non-null  object
 9   Night_Sweats         19997 non-null  object
 10  Sputum_Production    19997 non-null  object
 11  Blood_in_Sputum      19997 non-null  object
 12  Smoking_History      19997 non-null  object
 13  Previous_TB_History  19996 non-null  object
 14  Class                19991 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 2.3+ MB

In [8]:
df.head()

,Patient_ID,Age,Gender,Chest_Pain,Cough_Severity,Breathlessness,Fatigue,Weight_Loss,Fever,Night_Sweats,Sputum_Production,Blood_in_Sputum,Smoking_History,Previous_TB_History,Class
0,PID000001,69,Male,Yes,1,2,3.0,2.37,Moderate,Yes,Medium,Yes,Former,Yes,Normal
1,PID000002,32,Female,Yes,3,0,9.0,6.09,Moderate,No,Medium,No,Current,Yes,Normal
2,PID000003,89,Male,No,7,0,3.0,2.86,Mild,Yes,Medium,No,Current,No,Tuberculosis
3,PID000004,78,Female,Yes,2,0,6.0,4.57,Moderate,No,High,Yes,Never,Yes,Tuberculosis
4,PID000005,38,Male,No,7,2,5.0,13.86,High,Yes,Low,No,Never,Yes,Tuberculosis

In [6]:
df['Class'].value_counts() # classification

Class
Normal          14075
Tuberculosis     5916
Name: count, dtype: int64

In [7]:
df['Class'].nunique()

2

In [9]:
df['Breathlessness'].value_counts()

Breathlessness
1    4066
4    4061
0    3971
3    3959
2    3936
8       3
5       1
Name: count, dtype: int64

In [10]:
df['Breathlessness'].nunique()

7

# Conditions

In [1]:
# if xolati
a=4
if a>0:
    print(a+5)

9

In [2]:
a=int(input('sonni kiriting'))
print(a+5)

9

In [3]:
a=int(input('sonni kiriting'))
if a>0:
    print(a+5)

12

In [4]:
a=int(input('sonni kiriting'))
if a>0:
    print(a+5)

In [5]:
a=int(input('sonni kiriting'))
if a>0:
    print(a+5)
else:
    print('a soni manfiy yoki nol')

a soni manfiy yoki nol

In [6]:
a=int(input('sonni kiriting'))
if a>0:
    print(a+5)
else:
    print('a soni manfiy yoki nol')

a soni manfiy yoki nol

In [7]:
a=int(input('sonni kiriting'))
if a>0:
    print(a+5)
elif a<0:
    print('a manfiy')
else:
    print('a soni nol')

a soni nol

In [8]:
a=int(input('sonni kiriting'))
if a>0:
    print(a+5)
elif a<0:
    print('a manfiy')
else:
    print('a soni nol')

a manfiy

In [3]:
b=int(input('oquvchi bahosini kiriting:'))
if b==6:
    print('Alo')
elif b==5:
    print('yaxshi')
elif b==4:
    print('ortacha')
else:
    print('yomon')

Alo

In [6]:
print('yaxshi')

yaxshi

In [7]:
print(f"yaxshi")

yaxshi

In [9]:
a='oquvchi'              # f-string
print(f"yaxshi {a}")

yaxshi oquvchi