# Data bn tanishuv

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: C:\Users\xolmu\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('tuberculosis_xray_dataset.csv')

In [5]:
df.head(10) # Boshidan 10ta

,Patient_ID,Age,Gender,Chest_Pain,Cough_Severity,Breathlessness,Fatigue,Weight_Loss,Fever,Night_Sweats,Sputum_Production,Blood_in_Sputum,Smoking_History,Previous_TB_History,Class
0,PID000001,69,Male,Yes,1,2,3,2.37,Moderate,Yes,Medium,Yes,Former,Yes,Normal
1,PID000002,32,Female,Yes,3,0,9,6.09,Moderate,No,Medium,No,Current,Yes,Normal
2,PID000003,89,Male,No,7,0,3,2.86,Mild,Yes,Medium,No,Current,No,Tuberculosis
3,PID000004,78,Female,Yes,2,0,6,4.57,Moderate,No,High,Yes,Never,Yes,Tuberculosis
4,PID000005,38,Male,No,7,2,5,13.86,High,Yes,Low,No,Never,Yes,Tuberculosis
5,PID000006,41,Female,Yes,1,3,7,2.23,Mild,No,Low,Yes,Current,No,Normal
6,PID000007,20,Male,Yes,0,1,0,7.11,Moderate,Yes,Low,No,Never,Yes,Normal
7,PID000008,39,Male,Yes,5,0,9,9.91,High,Yes,High,No,Never,No,Normal
8,PID000009,70,Male,Yes,7,0,1,13.77,Moderate,Yes,Medium,No,Never,No,Tuberculosis
9,PID000010,19,Female,No,8,2,1,13.85,Moderate,Yes,High,No,Former,No,Tuberculosis

In [6]:
df.head()

,Patient_ID,Age,Gender,Chest_Pain,Cough_Severity,Breathlessness,Fatigue,Weight_Loss,Fever,Night_Sweats,Sputum_Production,Blood_in_Sputum,Smoking_History,Previous_TB_History,Class
0,PID000001,69,Male,Yes,1,2,3,2.37,Moderate,Yes,Medium,Yes,Former,Yes,Normal
1,PID000002,32,Female,Yes,3,0,9,6.09,Moderate,No,Medium,No,Current,Yes,Normal
2,PID000003,89,Male,No,7,0,3,2.86,Mild,Yes,Medium,No,Current,No,Tuberculosis
3,PID000004,78,Female,Yes,2,0,6,4.57,Moderate,No,High,Yes,Never,Yes,Tuberculosis
4,PID000005,38,Male,No,7,2,5,13.86,High,Yes,Low,No,Never,Yes,Tuberculosis

In [7]:
df.tail()# oxiridan 5 ta qator

,Patient_ID,Age,Gender,Chest_Pain,Cough_Severity,Breathlessness,Fatigue,Weight_Loss,Fever,Night_Sweats,Sputum_Production,Blood_in_Sputum,Smoking_History,Previous_TB_History,Class
19995,PID019996,53,Male,No,0,4,6,11.72,Moderate,Yes,Medium,No,Never,Yes,Normal
19996,PID019997,27,Female,No,3,1,1,5.67,Moderate,Yes,Low,Yes,Current,Yes,Tuberculosis
19997,PID019998,23,Male,No,1,2,8,3.91,High,Yes,Low,Yes,Never,No,Normal
19998,PID019999,24,Female,No,8,4,6,8.77,Moderate,Yes,Medium,Yes,Never,Yes,Normal
19999,PID020000,48,Male,No,9,4,4,4.84,High,No,High,No,Never,Yes,Normal

In [8]:
df.info()  # dataset xaqida umumiy malumot olish uchun ishlatiladi

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           20000 non-null  object
 1   Age                  20000 non-null  int64
 2   Gender               20000 non-null  object
 3   Chest_Pain           20000 non-null  object
 4   Cough_Severity       20000 non-null  int64
 5   Breathlessness       20000 non-null  int64
 6   Fatigue              20000 non-null  int64
 7   Weight_Loss          20000 non-null  float64
 8   Fever                20000 non-null  object
 9   Night_Sweats         20000 non-null  object
 10  Sputum_Production    20000 non-null  object
 11  Blood_in_Sputum      20000 non-null  object
 12  Smoking_History      20000 non-null  object
 13  Previous_TB_History  20000 non-null  object
 14  Class                20000 non-null  object
dtypes: float64(1), int64(4), object(10)
memory usage: 2.3+ MB

# data types

In [9]:
#Numerical
#Categorical

In [10]:
#Operations:+,-,/,//,%,*,**

In [13]:
a=16
b=7
print('ikki sonning yigindisi:',a+b)
print('ikki sonning ayrimasi:',a-b)
print('ikki sonning kopaytmasi:',a*b)
print('ikki sonning bolinmasi:',a/b)
print('ikki son bolgandagi butun qismni topish:',a//b)
print('ikki son bolgandagi qoldiq qismni topish:',a%b)
print('ikki sonning kvadratini topish:',a**2)
print('ikki sonning kubini topish:',a**3)

ikki sonning yigindisi: 23
ikki sonning ayrimasi: 9
ikki sonning kopaytmasi: 112
ikki sonning bolinmasi: 2.2857142857142856
ikki son bolgandagi butun qismni topish: 2
ikki son bolgandagi qoldiq qismni topish: 2
ikki sonning kvadratini topish: 256
ikki sonning kubini topish: 4096

In [14]:
#int,float,str,boolen

In [15]:
#int
a=4

In [16]:
type(a)

int

In [19]:
#Float
b=5.5

In [18]:
type(b)

float

In [20]:
# Int vs float

In [21]:
a

4

In [ ]:
b=4.0

In [22]:
type(b)

float

In [23]:
#str
c='salom'

In [24]:
c[0]

's'

In [25]:
c[4]

'm'

In [26]:
c[-2]

'o'

In [28]:
c[-1]==c[4]

True

In [29]:
c[4]

'm'

In [30]:
c[1]

'a'

In [31]:
type(c)

str

In [34]:
d='5'

In [35]:
type(d)

str

In [36]:
#Boolean
2>5

False

In [37]:
5>2

True

In [38]:
#Taqqoslash(<,>)
x=4
y=4
x==y

True

In [39]:
x!=y

False

In [41]:
#Darajalar
a**2

16

In [42]:
a**3

64

In [49]:
a=4      #pow(son,daraja))
print(pow(4,3))

64

In [50]:
a=4
print(pow(4,2))

16