# Data Preprocessing

In [1]:
#Data Cleaning

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('tuberculosis_xray_dataset 4.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19986 non-null  object
 4   Cough_Severity       19985 non-null  float64
 5   Breathlessness       19986 non-null  float64
 6   Fatigue              19986 non-null  object
 7   Weight_Loss          19986 non-null  object
 8   Fever                19986 non-null  object
 9   Night_Sweats         19986 non-null  object
 10  Sputum_Production    19986 non-null  object
 11  Blood_in_Sputum      19986 non-null  object
 12  Smoking_History      19985 non-null  object
 13  Previous_TB_History  19985 non-null  object
 14  Class                19884 non-null  object
dtypes: float64(2), object(13)
memory usage: 2.3+ MB

In [5]:
df.head(6)

,Patient_ID,Age,Gender,Chest_Pain,Cough_Severity,Breathlessness,Fatigue,Weight_Loss,Fever,Night_Sweats,Sputum_Production,Blood_in_Sputum,Smoking_History,Previous_TB_History,Class
0,PID000001,69,Male,Yes,1.0,2.0,3,2.37,Moderate,Yes,Medium,Yes,Former,Yes,Normal
1,PID000002,32,Female,Yes,3.0,0.0,9,6.09,Moderate,No,Medium,No,Current,Yes,Normal
2,PID000003,89,Male,No,7.0,0.0,3,2.86,Mild,Yes,Medium,No,Current,No,Tuberculosis
3,PID000004,78,Female,Yes,2.0,0.0,6,4.57,Moderate,No,High,Yes,Never,Yes,Tuberculosis
4,PID000005,38,Male,No,7.0,2.0,5,13.86,High,Yes,Low,No,Never,Yes,Tuberculosis
5,PID000006,41,Female,Yes,1.0,3.0,7,2.23,Mild,No,Low,Yes,Current,No,Normal

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19986 non-null  object
 4   Cough_Severity       19985 non-null  float64
 5   Breathlessness       19986 non-null  float64
 6   Fatigue              19986 non-null  object
 7   Weight_Loss          19986 non-null  object
 8   Fever                19986 non-null  object
 9   Night_Sweats         19986 non-null  object
 10  Sputum_Production    19986 non-null  object
 11  Blood_in_Sputum      19986 non-null  object
 12  Smoking_History      19985 non-null  object
 13  Previous_TB_History  19985 non-null  object
 14  Class                19884 non-null  object
dtypes: float64(2), object(13)
memory usage: 2.3+ MB

In [8]:
#$
#,
#text

In [7]:
df['Smoking_History']

0         Former
1        Current
2        Current
3          Never
4          Never
          ...
19981      Never
19982    Current
19983      Never
19984      Never
19985      Never
Name: Smoking_History, Length: 19986, dtype: object

In [8]:
#$
df['Smoking_History']=df['Smoking_History'].str.replace(r'[\$,]','',regex=True)

In [9]:
df['Smoking_History']

0         Former
1        Current
2        Current
3          Never
4          Never
          ...
19981      Never
19982    Current
19983      Never
19984      Never
19985      Never
Name: Smoking_History, Length: 19986, dtype: object

In [11]:
#,
df['Smoking_History']=df['Smoking_History'].str.replace(r',','',regex=True)

In [12]:
df['Smoking_History']

0         Former
1        Current
2        Current
3          Never
4          Never
          ...
19981      Never
19982    Current
19983      Never
19984      Never
19985      Never
Name: Smoking_History, Length: 19986, dtype: object

In [13]:
df['Smoking_History']=df['Smoking_History'].str.split('(').str[0].str.strip()

In [14]:
df['Smoking_History']

0         Former
1        Current
2        Current
3          Never
4          Never
          ...
19981      Never
19982    Current
19983      Never
19984      Never
19985      Never
Name: Smoking_History, Length: 19986, dtype: object

In [9]:
df['Smoking_History']=pd.to_numeric(df['Smoking_History'],errors='coerce')

In [10]:
df['Smoking_History']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
19981   NaN
19982   NaN
19983   NaN
19984   NaN
19985   NaN
Name: Smoking_History, Length: 19986, dtype: float64

In [17]:
df['Smoking_History'] = df['Smoking_History'].replace(r'[^\d.]', '', regex=True) # Umumiy tozalash

In [18]:
df['Smoking_History']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
19981   NaN
19982   NaN
19983   NaN
19984   NaN
19985   NaN
Name: Smoking_History, Length: 19986, dtype: float64

In [11]:
df['Smoking_History'] = pd.to_numeric(df['Smoking_History'], errors='coerce')   # Obejct->numerical

In [12]:
df['Smoking_History']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
19981   NaN
19982   NaN
19983   NaN
19984   NaN
19985   NaN
Name: Smoking_History, Length: 19986, dtype: float64

In [31]:
# Duplicated

In [21]:
df.head(1)

,Patient_ID,Age,Gender,Chest_Pain,Cough_Severity,Breathlessness,Fatigue,Weight_Loss,Fever,Night_Sweats,Sputum_Production,Blood_in_Sputum,Smoking_History,Previous_TB_History,Class
0,PID000001,69,Male,Yes,1.0,2.0,3,2.37,Moderate,Yes,Medium,Yes,NaN,Yes,Normal

In [13]:
duplicated_rows=df.duplicated(keep=False)

In [14]:
duplicated_rows

0        False
1        False
2        False
3        False
4        False
         ...
19981    False
19982    False
19983    False
19984    False
19985    False
Length: 19986, dtype: bool

In [15]:
df.drop_duplicates(inplace=True)  # qatorlarni duplicatedlardan tozalash

In [16]:
duplicated_col=df.columns[df.columns.duplicated()]

In [17]:
duplicated_col

Index([], dtype='object')

In [18]:
df=df.loc[:,~df.columns.duplicated()]  # Ustunlarni duplicatedlardan tozalash

In [19]:
a=[1,2,3,4,5]
a[:3]

[1, 2, 3]

In [8]:
# Missing values

In [3]:
#Drop qilish
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19986 non-null  object
 4   Cough_Severity       19985 non-null  float64
 5   Breathlessness       19986 non-null  float64
 6   Fatigue              19986 non-null  object
 7   Weight_Loss          19986 non-null  object
 8   Fever                19986 non-null  object
 9   Night_Sweats         19986 non-null  object
 10  Sputum_Production    19986 non-null  object
 11  Blood_in_Sputum      19986 non-null  object
 12  Smoking_History      19985 non-null  object
 13  Previous_TB_History  19985 non-null  object
 14  Class                19884 non-null  object
dtypes: float64(2), object(13)
memory usage: 2.3+ MB

In [6]:
df.isnull().sum()

Patient_ID               0
Age                      0
Gender                   1
Chest_Pain               0
Cough_Severity           1
Breathlessness           0
Fatigue                  0
Weight_Loss              0
Fever                    0
Night_Sweats             0
Sputum_Production        0
Blood_in_Sputum          0
Smoking_History          1
Previous_TB_History      1
Class                  102
dtype: int64

In [7]:
#Qatorlar bo'yicha barchasini tashlab yuborish
df.dropna(inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19883 entries, 0 to 19984
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19883 non-null  object
 1   Age                  19883 non-null  object
 2   Gender               19883 non-null  object
 3   Chest_Pain           19883 non-null  object
 4   Cough_Severity       19883 non-null  float64
 5   Breathlessness       19883 non-null  float64
 6   Fatigue              19883 non-null  object
 7   Weight_Loss          19883 non-null  object
 8   Fever                19883 non-null  object
 9   Night_Sweats         19883 non-null  object
 10  Sputum_Production    19883 non-null  object
 11  Blood_in_Sputum      19883 non-null  object
 12  Smoking_History      19883 non-null  object
 13  Previous_TB_History  19883 non-null  object
 14  Class                19883 non-null  object
dtypes: float64(2), object(13)
memory usage: 2.4+ MB

In [10]:
df.isnull().sum()

Patient_ID             0
Age                    0
Gender                 0
Chest_Pain             0
Cough_Severity         0
Breathlessness         0
Fatigue                0
Weight_Loss            0
Fever                  0
Night_Sweats           0
Sputum_Production      0
Blood_in_Sputum        0
Smoking_History        0
Previous_TB_History    0
Class                  0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19986 non-null  object
 4   Cough_Severity       19985 non-null  float64
 5   Breathlessness       19986 non-null  float64
 6   Fatigue              19986 non-null  object
 7   Weight_Loss          19986 non-null  object
 8   Fever                19986 non-null  object
 9   Night_Sweats         19986 non-null  object
 10  Sputum_Production    19986 non-null  object
 11  Blood_in_Sputum      19986 non-null  object
 12  Smoking_History      19985 non-null  object
 13  Previous_TB_History  19985 non-null  object
 14  Class                19884 non-null  object
dtypes: float64(2), object(13)
memory usage: 2.3+ MB

In [5]:
df.isnull().sum()

Patient_ID               0
Age                      0
Gender                   1
Chest_Pain               0
Cough_Severity           1
Breathlessness           0
Fatigue                  0
Weight_Loss              0
Fever                    0
Night_Sweats             0
Sputum_Production        0
Blood_in_Sputum          0
Smoking_History          1
Previous_TB_History      1
Class                  102
dtype: int64

In [6]:
df.dropna(subset='Gender',inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19985 entries, 0 to 19984
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19985 non-null  object
 1   Age                  19985 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19985 non-null  object
 4   Cough_Severity       19985 non-null  float64
 5   Breathlessness       19985 non-null  float64
 6   Fatigue              19985 non-null  object
 7   Weight_Loss          19985 non-null  object
 8   Fever                19985 non-null  object
 9   Night_Sweats         19985 non-null  object
 10  Sputum_Production    19985 non-null  object
 11  Blood_in_Sputum      19985 non-null  object
 12  Smoking_History      19984 non-null  object
 13  Previous_TB_History  19984 non-null  object
 14  Class                19883 non-null  object
dtypes: float64(2), object(13)
memory usage: 2.4+ MB

In [8]:
df.dropna(subset='Gender',inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19985 entries, 0 to 19984
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19985 non-null  object
 1   Age                  19985 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19985 non-null  object
 4   Cough_Severity       19985 non-null  float64
 5   Breathlessness       19985 non-null  float64
 6   Fatigue              19985 non-null  object
 7   Weight_Loss          19985 non-null  object
 8   Fever                19985 non-null  object
 9   Night_Sweats         19985 non-null  object
 10  Sputum_Production    19985 non-null  object
 11  Blood_in_Sputum      19985 non-null  object
 12  Smoking_History      19984 non-null  object
 13  Previous_TB_History  19984 non-null  object
 14  Class                19883 non-null  object
dtypes: float64(2), object(13)
memory usage: 2.4+ MB

In [10]:
df.dropna(axis=1,inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19985 entries, 0 to 19984
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Patient_ID         19985 non-null  object
 1   Age                19985 non-null  object
 2   Gender             19985 non-null  object
 3   Chest_Pain         19985 non-null  object
 4   Cough_Severity     19985 non-null  float64
 5   Breathlessness     19985 non-null  float64
 6   Fatigue            19985 non-null  object
 7   Weight_Loss        19985 non-null  object
 8   Fever              19985 non-null  object
 9   Night_Sweats       19985 non-null  object
 10  Sputum_Production  19985 non-null  object
 11  Blood_in_Sputum    19985 non-null  object
dtypes: float64(2), object(10)
memory usage: 2.0+ MB

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19986 non-null  object
 4   Cough_Severity       19985 non-null  float64
 5   Breathlessness       19986 non-null  float64
 6   Fatigue              19986 non-null  object
 7   Weight_Loss          19986 non-null  object
 8   Fever                19986 non-null  object
 9   Night_Sweats         19986 non-null  object
 10  Sputum_Production    19986 non-null  object
 11  Blood_in_Sputum      19986 non-null  object
 12  Smoking_History      19985 non-null  object
 13  Previous_TB_History  19985 non-null  object
 14  Class                19884 non-null  object
dtypes: float64(2), object(13)
memory usage: 2.3+ MB

In [4]:
df.isnull().sum()

Patient_ID               0
Age                      0
Gender                   1
Chest_Pain               0
Cough_Severity           1
Breathlessness           0
Fatigue                  0
Weight_Loss              0
Fever                    0
Night_Sweats             0
Sputum_Production        0
Blood_in_Sputum          0
Smoking_History          1
Previous_TB_History      1
Class                  102
dtype: int64

In [5]:
df.drop(columns=['Class'],inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19986 non-null  object
 4   Cough_Severity       19985 non-null  float64
 5   Breathlessness       19986 non-null  float64
 6   Fatigue              19986 non-null  object
 7   Weight_Loss          19986 non-null  object
 8   Fever                19986 non-null  object
 9   Night_Sweats         19986 non-null  object
 10  Sputum_Production    19986 non-null  object
 11  Blood_in_Sputum      19986 non-null  object
 12  Smoking_History      19985 non-null  object
 13  Previous_TB_History  19985 non-null  object
dtypes: float64(2), object(12)
memory usage: 2.1+ MB

In [7]:
df.dropna(axis=1,inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Patient_ID         19986 non-null  object
 1   Age                19986 non-null  object
 2   Chest_Pain         19986 non-null  object
 3   Breathlessness     19986 non-null  float64
 4   Fatigue            19986 non-null  object
 5   Weight_Loss        19986 non-null  object
 6   Fever              19986 non-null  object
 7   Night_Sweats       19986 non-null  object
 8   Sputum_Production  19986 non-null  object
 9   Blood_in_Sputum    19986 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.5+ MB

In [59]:
#Mean

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19986 non-null  object
 4   Cough_Severity       19985 non-null  float64
 5   Breathlessness       19986 non-null  float64
 6   Fatigue              19986 non-null  object
 7   Weight_Loss          19986 non-null  object
 8   Fever                19986 non-null  object
 9   Night_Sweats         19986 non-null  object
 10  Sputum_Production    19986 non-null  object
 11  Blood_in_Sputum      19986 non-null  object
 12  Smoking_History      19985 non-null  object
 13  Previous_TB_History  19985 non-null  object
 14  Class                19884 non-null  object
dtypes: float64(2), object(13)
memory usage: 2.3+ MB

In [5]:
df.isnull().sum()

Patient_ID               0
Age                      0
Gender                   1
Chest_Pain               0
Cough_Severity           1
Breathlessness           0
Fatigue                  0
Weight_Loss              0
Fever                    0
Night_Sweats             0
Sputum_Production        0
Blood_in_Sputum          0
Smoking_History          1
Previous_TB_History      1
Class                  102
dtype: int64

In [6]:
df['Cough_Severity'].fillna(df['Cough_Severity'].mean(),inplace=True)

C:\Users\xolmu\AppData\Local\Temp\ipykernel_5792\3388243749.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cough_Severity'].fillna(df['Cough_Severity'].mean(),inplace=True)

In [7]:
df.isnull().sum()

Patient_ID               0
Age                      0
Gender                   1
Chest_Pain               0
Cough_Severity           0
Breathlessness           0
Fatigue                  0
Weight_Loss              0
Fever                    0
Night_Sweats             0
Sputum_Production        0
Blood_in_Sputum          0
Smoking_History          1
Previous_TB_History      1
Class                  102
dtype: int64

In [8]:
df['Previous_TB_History'].fillna(df['Previous_TB_History'].mean(),inplace=True)   # bu ustun objectligi uchun ishlamadi

TypeError: can only concatenate str (not "int") to str

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19986 non-null  object
 4   Cough_Severity       19986 non-null  float64
 5   Breathlessness       19986 non-null  float64
 6   Fatigue              19986 non-null  object
 7   Weight_Loss          19986 non-null  object
 8   Fever                19986 non-null  object
 9   Night_Sweats         19986 non-null  object
 10  Sputum_Production    19986 non-null  object
 11  Blood_in_Sputum      19986 non-null  object
 12  Smoking_History      19985 non-null  object
 13  Previous_TB_History  19985 non-null  object
 14  Class                19884 non-null  object
dtypes: float64(2), object(13)
memory usage: 2.3+ MB

In [10]:
#Mode

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19986 non-null  object
 4   Cough_Severity       19985 non-null  float64
 5   Breathlessness       19986 non-null  float64
 6   Fatigue              19986 non-null  object
 7   Weight_Loss          19986 non-null  object
 8   Fever                19986 non-null  object
 9   Night_Sweats         19986 non-null  object
 10  Sputum_Production    19986 non-null  object
 11  Blood_in_Sputum      19986 non-null  object
 12  Smoking_History      19985 non-null  object
 13  Previous_TB_History  19985 non-null  object
 14  Class                19884 non-null  object
dtypes: float64(2), object(13)
memory usage: 2.3+ MB

In [8]:
df.isnull().sum()

Patient_ID               0
Age                      0
Gender                   1
Chest_Pain               0
Cough_Severity           1
Breathlessness           0
Fatigue                  0
Weight_Loss              0
Fever                    0
Night_Sweats             0
Sputum_Production        0
Blood_in_Sputum          0
Smoking_History          1
Previous_TB_History      1
Class                  102
dtype: int64

In [ ]:
df['Smoking_History'].fillna(df['Smoking_History'].mode()[0],inplace=True)   # bu yerda mode ishlashi uchun albatta 0 yozilishi kerak.bolmasa ishlamaydi

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19986 non-null  object
 4   Cough_Severity       19985 non-null  float64
 5   Breathlessness       19986 non-null  float64
 6   Fatigue              19986 non-null  object
 7   Weight_Loss          19986 non-null  object
 8   Fever                19986 non-null  object
 9   Night_Sweats         19986 non-null  object
 10  Sputum_Production    19986 non-null  object
 11  Blood_in_Sputum      19986 non-null  object
 12  Smoking_History      19986 non-null  object
 13  Previous_TB_History  19985 non-null  object
 14  Class                19884 non-null  object
dtypes: float64(2), object(13)
memory usage: 2.3+ MB

In [18]:
df.isnull().sum()

Patient_ID               0
Age                      0
Gender                   1
Chest_Pain               0
Cough_Severity           1
Breathlessness           0
Fatigue                  0
Weight_Loss              0
Fever                    0
Night_Sweats             0
Sputum_Production        0
Blood_in_Sputum          0
Smoking_History          0
Previous_TB_History      1
Class                  102
dtype: int64

In [71]:
#Median

In [4]:
df.isnull().sum()

Patient_ID               0
Age                      0
Gender                   1
Chest_Pain               0
Cough_Severity           1
Breathlessness           0
Fatigue                  0
Weight_Loss              0
Fever                    0
Night_Sweats             0
Sputum_Production        0
Blood_in_Sputum          0
Smoking_History          1
Previous_TB_History      1
Class                  102
dtype: int64

In [ ]:
df['Gender'].fillna(df['Gender'].median(),inplace=True)    #0 bolmaganini sababi va ishlamaganini sababi bunda ham 1chi objectlarni encoding qilib olish kerak.undan keyin 0 boladi

TypeError: Cannot convert ['Male' 'Female' 'Male' ... 'Female' 'Male' nan] to numeric

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19986 non-null  object
 4   Cough_Severity       19985 non-null  float64
 5   Breathlessness       19986 non-null  float64
 6   Fatigue              19986 non-null  object
 7   Weight_Loss          19986 non-null  object
 8   Fever                19986 non-null  object
 9   Night_Sweats         19986 non-null  object
 10  Sputum_Production    19986 non-null  object
 11  Blood_in_Sputum      19986 non-null  object
 12  Smoking_History      19986 non-null  object
 13  Previous_TB_History  19985 non-null  object
 14  Class                19884 non-null  object
dtypes: float64(2), object(13)
memory usage: 2.3+ MB

In [23]:
df['Previous_TB_History'].fillna(1,inplace=True)

In [31]:
df['Cough_Severity'].fillna(1,inplace=True)
df['Class'].fillna(2,inplace=True)
df['Gender'].fillna(2,inplace=True)

C:\Users\xolmu\AppData\Local\Temp\ipykernel_3036\3840911889.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].fillna(2,inplace=True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Gender               19986 non-null  object
 3   Chest_Pain           19986 non-null  object
 4   Cough_Severity       19986 non-null  object
 5   Breathlessness       19986 non-null  float64
 6   Fatigue              19986 non-null  object
 7   Weight_Loss          19986 non-null  object
 8   Fever                19986 non-null  object
 9   Night_Sweats         19986 non-null  object
 10  Sputum_Production    19986 non-null  object
 11  Blood_in_Sputum      19986 non-null  object
 12  Smoking_History      19986 non-null  object
 13  Previous_TB_History  19986 non-null  object
 14  Class                19986 non-null  object
dtypes: float64(1), object(14)
memory usage: 2.3+ MB