# Encoding

In [1]:
#One-hot encoding= Pandas
import pandas as pd

In [2]:
df=pd.read_csv('tuberculosis_xray_dataset 4.csv')
df.head()

,Patient_ID,Age,Gender,Chest_Pain,Cough_Severity,Breathlessness,Fatigue,Weight_Loss,Fever,Night_Sweats,Sputum_Production,Blood_in_Sputum,Smoking_History,Previous_TB_History,Class
0,PID000001,69,Male,Yes,1.0,2.0,3,2.37,Moderate,Yes,Medium,Yes,Former,Yes,Normal
1,PID000002,32,Female,Yes,3.0,0.0,9,6.09,Moderate,No,Medium,No,Current,Yes,Normal
2,PID000003,89,Male,No,7.0,0.0,3,2.86,Mild,Yes,Medium,No,Current,No,Tuberculosis
3,PID000004,78,Female,Yes,2.0,0.0,6,4.57,Moderate,No,High,Yes,Never,Yes,Tuberculosis
4,PID000005,38,Male,No,7.0,2.0,5,13.86,High,Yes,Low,No,Never,Yes,Tuberculosis

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19986 non-null  object
 4   Cough_Severity       19985 non-null  float64
 5   Breathlessness       19986 non-null  float64
 6   Fatigue              19986 non-null  object
 7   Weight_Loss          19986 non-null  object
 8   Fever                19986 non-null  object
 9   Night_Sweats         19986 non-null  object
 10  Sputum_Production    19986 non-null  object
 11  Blood_in_Sputum      19986 non-null  object
 12  Smoking_History      19985 non-null  object
 13  Previous_TB_History  19985 non-null  object
 14  Class                19884 non-null  object
dtypes: float64(2), object(13)
memory usage: 2.3+ MB

In [4]:
df['Gender'].value_counts()

Gender
Male      10152
Female     9813
No           10
Yes           9
3             1
Name: count, dtype: int64

In [12]:
gender_dummies=pd.get_dummies(df['Gender'],prefix='Gender',drop_first=True,dtype=int)

In [13]:
gender_dummies

       Gender_Female  Gender_Male  Gender_No  Gender_Yes
0                  0            1          0           0
1                  1            0          0           0
2                  0            1          0           0
3                  1            0          0           0
4                  0            1          0           0
...              ...          ...        ...         ...
19981              1            0          0           0
19982              0            1          0           0
19983              1            0          0           0
19984              0            1          0           0
19985              0            0          0           0

[19986 rows x 4 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19986 non-null  object
 4   Cough_Severity       19985 non-null  float64
 5   Breathlessness       19986 non-null  float64
 6   Fatigue              19986 non-null  object
 7   Weight_Loss          19986 non-null  object
 8   Fever                19986 non-null  object
 9   Night_Sweats         19986 non-null  object
 10  Sputum_Production    19986 non-null  object
 11  Blood_in_Sputum      19986 non-null  object
 12  Smoking_History      19985 non-null  object
 13  Previous_TB_History  19985 non-null  object
 14  Class                19884 non-null  object
dtypes: float64(2), object(13)
memory usage: 2.3+ MB

In [15]:
df=pd.concat([df,gender_dummies],axis=1)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19986 non-null  object
 4   Cough_Severity       19985 non-null  float64
 5   Breathlessness       19986 non-null  float64
 6   Fatigue              19986 non-null  object
 7   Weight_Loss          19986 non-null  object
 8   Fever                19986 non-null  object
 9   Night_Sweats         19986 non-null  object
 10  Sputum_Production    19986 non-null  object
 11  Blood_in_Sputum      19986 non-null  object
 12  Smoking_History      19985 non-null  object
 13  Previous_TB_History  19985 non-null  object
 14  Class                19884 non-null  object
 15  Gender_Female        19986 non-null  int64
 16  Gender_Male          19986 non-null  int64
 17  Gender_No            19986 non-null  int64
 18  Gender_Yes           19986 non-null  int64
dtypes: float64(2), int64(4), object(13)
memory usage: 2.9+ MB

In [18]:
df.head(2)

,Patient_ID,Age,Gender,Chest_Pain,Cough_Severity,Breathlessness,Fatigue,Weight_Loss,Fever,Night_Sweats,Sputum_Production,Blood_in_Sputum,Smoking_History,Previous_TB_History,Class,Gender_Female,Gender_Male,Gender_No,Gender_Yes
0,PID000001,69,Male,Yes,1.0,2.0,3,2.37,Moderate,Yes,Medium,Yes,Former,Yes,Normal,0,1,0,0
1,PID000002,32,Female,Yes,3.0,0.0,9,6.09,Moderate,No,Medium,No,Current,Yes,Normal,1,0,0,0

In [19]:
df.drop(columns=['Gender'],inplace=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Chest_Pain           19986 non-null  object
 3   Cough_Severity       19985 non-null  float64
 4   Breathlessness       19986 non-null  float64
 5   Fatigue              19986 non-null  object
 6   Weight_Loss          19986 non-null  object
 7   Fever                19986 non-null  object
 8   Night_Sweats         19986 non-null  object
 9   Sputum_Production    19986 non-null  object
 10  Blood_in_Sputum      19986 non-null  object
 11  Smoking_History      19985 non-null  object
 12  Previous_TB_History  19985 non-null  object
 13  Class                19884 non-null  object
 14  Gender_Female        19986 non-null  int64
 15  Gender_Male          19986 non-null  int64
 16  Gender_No            19986 non-null  int64
 17  Gender_Yes           19986 non-null  int64
dtypes: float64(2), int64(4), object(12)
memory usage: 2.7+ MB

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19986 non-null  object
 4   Cough_Severity       19985 non-null  float64
 5   Breathlessness       19986 non-null  float64
 6   Fatigue              19986 non-null  object
 7   Weight_Loss          19986 non-null  object
 8   Fever                19986 non-null  object
 9   Night_Sweats         19986 non-null  object
 10  Sputum_Production    19986 non-null  object
 11  Blood_in_Sputum      19986 non-null  object
 12  Smoking_History      19985 non-null  object
 13  Previous_TB_History  19985 non-null  object
 14  Class                19884 non-null  object
dtypes: float64(2), object(13)
memory usage: 2.3+ MB

In [5]:
df=pd.get_dummies(df,columns=['Gender'],dtype=int)     # bu yangi hosil bolgan ustunlarnigina intga ogiradi

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Chest_Pain           19986 non-null  object
 3   Cough_Severity       19985 non-null  float64
 4   Breathlessness       19986 non-null  float64
 5   Fatigue              19986 non-null  object
 6   Weight_Loss          19986 non-null  object
 7   Fever                19986 non-null  object
 8   Night_Sweats         19986 non-null  object
 9   Sputum_Production    19986 non-null  object
 10  Blood_in_Sputum      19986 non-null  object
 11  Smoking_History      19985 non-null  object
 12  Previous_TB_History  19985 non-null  object
 13  Class                19884 non-null  object
 14  Gender_3             19986 non-null  int64
 15  Gender_Female        19986 non-null  int64
 16  Gender_Male          19986 non-null  int64
 17  Gender_No            19986 non-null  int64
 18  Gender_Yes           19986 non-null  int64
dtypes: float64(2), int64(5), object(12)
memory usage: 2.9+ MB

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19986 non-null  object
 4   Cough_Severity       19985 non-null  float64
 5   Breathlessness       19986 non-null  float64
 6   Fatigue              19986 non-null  object
 7   Weight_Loss          19986 non-null  object
 8   Fever                19986 non-null  object
 9   Night_Sweats         19986 non-null  object
 10  Sputum_Production    19986 non-null  object
 11  Blood_in_Sputum      19986 non-null  object
 12  Smoking_History      19985 non-null  object
 13  Previous_TB_History  19985 non-null  object
 14  Class                19884 non-null  object
dtypes: float64(2), object(13)
memory usage: 2.3+ MB

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
encoder=LabelEncoder()

In [8]:
df['Sputum_Production']=encoder.fit_transform(df['Sputum_Production'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19986 non-null  object
 4   Cough_Severity       19985 non-null  float64
 5   Breathlessness       19986 non-null  float64
 6   Fatigue              19986 non-null  object
 7   Weight_Loss          19986 non-null  object
 8   Fever                19986 non-null  object
 9   Night_Sweats         19986 non-null  object
 10  Sputum_Production    19986 non-null  int64
 11  Blood_in_Sputum      19986 non-null  object
 12  Smoking_History      19985 non-null  object
 13  Previous_TB_History  19985 non-null  object
 14  Class                19884 non-null  object
dtypes: float64(2), int64(1), object(12)
memory usage: 2.3+ MB

In [10]:
df['Sputum_Production'].value_counts()

Sputum_Production
2    6683
1    6649
0    6582
4      37
3      35
Name: count, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19986 entries, 0 to 19985
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_ID           19986 non-null  object
 1   Age                  19986 non-null  object
 2   Gender               19985 non-null  object
 3   Chest_Pain           19986 non-null  object
 4   Cough_Severity       19985 non-null  float64
 5   Breathlessness       19986 non-null  float64
 6   Fatigue              19986 non-null  object
 7   Weight_Loss          19986 non-null  object
 8   Fever                19986 non-null  object
 9   Night_Sweats         19986 non-null  object
 10  Sputum_Production    19986 non-null  int64
 11  Blood_in_Sputum      19986 non-null  object
 12  Smoking_History      19985 non-null  object
 13  Previous_TB_History  19985 non-null  object
 14  Class                19884 non-null  object
dtypes: float64(2), int64(1), object(12)
memory usage: 2.3+ MB