# Foor Loop ML

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df=pd.read_csv('IMDB_Movies_Dataset.csv')

In [3]:
df.head()

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide Gross,Runtime
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.0,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,"$25,000,000 (estimated)","$29,332,133",2 hours 22 minutes
1,1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",NaN,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue,...","November 8, 2024 (Japan)",Japan,Japanese,NaN,"$3,513,659",2 hours 25 minutes
2,2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.0,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1978 (India),United States,"English, Italian, Latin","$6,000,000 (estimated)","$250,342,198",2 hours 55 minutes
3,3,Hababam Sinifi,9.2,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",NaN,"Münir Özkul, Tarik Akan, Halit Akçatepe, Kemal...","April 1, 1975 (Turkey)",Turkey,Turkish,NaN,NaN,1 hour 25 minutes
4,4,Ramayana: The Legend of Prince Rama,9.2,"Ram Mohan, Yûgô Sakô, Koichi Saski","Rani Burra, Ram Mohan, Yûgô Sakô",NaN,"Arun Govil, Nikhil Kapoor, Edie Mirman, Rael P...","September 25, 2001 (India)","India, Japan",English,NaN,NaN,2 hours 15 minutes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          3055 non-null   float64
 6   Cast               4982 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4986 non-null   object
 9   Languages          4968 non-null   object
 10  Budget             2651 non-null   object
 11  Worldwide Gross    3895 non-null   object
 12  Runtime            4989 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 506.8+ KB

In [6]:
# for loop (missing values)

In [7]:
df.isnull().sum()

Unnamed: 0              0
Title                   0
Average Rating          0
Director                0
Writer                  1
Metascore            1934
Cast                    7
Release Date            0
Country of Origin       3
Languages              21
Budget               2338
Worldwide Gross      1094
Runtime                 0
dtype: int64

In [ ]:
for col in df.columns:               # Foor loop orqali tushib qolgan qiymatlarni hammasini toldirish
    if df[col].dtype=='object':
        df[col].fillna(df[col].mode()[0],inplace=True)
    else:
        df[col].fillna(df[col].mean(),inplace=True)

C:\Users\xolmu\AppData\Local\Temp\ipykernel_11780\2153123511.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(),inplace=True)
C:\Users\xolmu\AppData\Local\Temp\ipykernel_11780\2153123511.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0],inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4989 non-null   object
 5   Metascore          4989 non-null   float64
 6   Cast               4989 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4989 non-null   object
 9   Languages          4989 non-null   object
 10  Budget             4989 non-null   object
 11  Worldwide Gross    4989 non-null   object
 12  Runtime            4989 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 506.8+ KB

In [10]:
df.isnull().sum()

Unnamed: 0           0
Title                0
Average Rating       0
Director             0
Writer               0
Metascore            0
Cast                 0
Release Date         0
Country of Origin    0
Languages            0
Budget               0
Worldwide Gross      0
Runtime              0
dtype: int64

In [ ]:
# Foor Loop orqali encoding

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4989 non-null   object
 5   Metascore          4989 non-null   float64
 6   Cast               4989 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4989 non-null   object
 9   Languages          4989 non-null   object
 10  Budget             4989 non-null   object
 11  Worldwide Gross    4989 non-null   object
 12  Runtime            4989 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 506.8+ KB

In [ ]:
#1
cat_col=df.select_dtypes(include=['object']).columns

In [13]:
cat_col

Index(['Title', 'Director', 'Writer', 'Cast', 'Release Date',
       'Country of Origin', 'Languages', 'Budget', 'Worldwide Gross',
       'Runtime'],
      dtype='object')

In [14]:
#2
cardinality=df[cat_col].nunique()

In [15]:
cardinality

Title                4927
Director             2648
Writer               4422
Cast                 4981
Release Date         4516
Country of Origin     812
Languages            1084
Budget                882
Worldwide Gross      3865
Runtime               182
dtype: int64

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
encoder=LabelEncoder

In [20]:
df['Budget']=df['Budget'].str.replace(r'[\$,]','',regex=True)

In [ ]:
for col in cat_col:                     # Bu kodni oxirigacha korsatmagan ekansiz
    cardinality = df[col].nunique()
    if cardinality >= 5:
        # Apply one-hot encoding=One-hot encoding qo‘llash.
        dummies = pd.get_dummies(df[col], prefix=col, dtype=int)
        # Drop the original column and concatenate the dummy variables=Asl ustunni tashlab, dummy o‘zgaruvchilarini birlashtirish
        df = pd.concat([df.drop(col, axis=1), dummies], axis=1)
    else:
        # Apply label encoding=Label encodingni qo‘llash.
        df[col] = encoder.fit_transform(df[col])

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Columns: 28322 entries, Unnamed: 0 to Runtime_9 hours 26 minutes
dtypes: float64(2), int64(28320)
memory usage: 1.1 GB

In [28]:
df.isnull().sum()

Unnamed: 0                    0
Average Rating                0
Metascore                     0
Title_#Home                   0
Title_'83                     0
                             ..
Runtime_6 hours 33 minutes    0
Runtime_7 hours 1 minute      0
Runtime_7 hours 19 minutes    0
Runtime_7 hours 47 minutes    0
Runtime_9 hours 26 minutes    0
Length: 28322, dtype: int64

In [ ]:
# Restart

In [ ]:
!pip install datacleaner

Collecting datacleaner
  Downloading datacleaner-0.1.5.tar.gz (6.5 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: pandas in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from datacleaner) (2.2.3)
Requirement already satisfied: scikit-learn in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from datacleaner) (1.6.1)
Collecting update_checker (from datacleaner)
  Downloading update_checker-0.18.0-py3-none-any.whl.metadata (2.3 kB)
Requirement already satisfied: numpy>=1.23.2 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->datacleaner) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->datacleaner) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->datacleaner) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->datacleaner) (2025.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn->datacleaner) (1.15.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn->datacleaner) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn->datacleaner) (3.5.0)
Collecting requests>=2.3.0 (from update_checker->datacleaner)
  Downloading requests-2.32.3-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: six>=1.5 in c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas->datacleaner) (1.17.0)
Collecting charset-normalizer<4,>=2 (from requests>=2.3.0->update_checker->datacleaner)
  Downloading charset_normalizer-3.4.1-cp311-cp311-win_amd64.whl.metadata (36 kB)
Collecting idna<4,>=2.5 (from requests>=2.3.0->update_checker->datacleaner)
  Downloading idna-3.10-py3-none-any.whl.metadata (10 kB)
Collecting urllib3<3,>=1.21.1 (from requests>=2.3.0->update_checker->datacleaner)
  Downloading urllib3-2.3.0-py3-none-any.whl.metadata (6.5 kB)
Collecting certifi>=2017.4.17 (from requests>=2.3.0->update_checker->datacleaner)
  Downloading certifi-2025.1.31-py3-none-any.whl.metadata (2.5 kB)
Downloading update_checker-0.18.0-py3-none-any.whl (7.0 kB)
Downloading requests-2.32.3-py3-none-any.whl (64 kB)
   ---------------------------------------- 0.0/64.9 kB ? eta -:--:--
   ---------------------------------------- 64.9/64.9 kB 1.7 MB/s eta 0:00:00
Downloading certifi-2025.1.31-py3-none-any.whl (166 kB)
   ---------------------------------------- 0.0/166.4 kB ? eta -:--:--
   ---------------------------------------- 166.4/166.4 kB 5.0 MB/s eta 0:00:00
Downloading charset_normalizer-3.4.1-cp311-cp311-win_amd64.whl (102 kB)
   ---------------------------------------- 0.0/102.4 kB ? eta -:--:--
   ---------------------------------------- 102.4/102.4 kB 5.8 MB/s eta 0:00:00
Downloading idna-3.10-py3-none-any.whl (70 kB)
   ---------------------------------------- 0.0/70.4 kB ? eta -:--:--
   ---------------------------------------- 70.4/70.4 kB 3.8 MB/s eta 0:00:00
Downloading urllib3-2.3.0-py3-none-any.whl (128 kB)
   ---------------------------------------- 0.0/128.4 kB ? eta -:--:--
   ---------------------------------------- 128.4/128.4 kB 7.9 MB/s eta 0:00:00
Building wheels for collected packages: datacleaner
  Building wheel for datacleaner (pyproject.toml): started
  Building wheel for datacleaner (pyproject.toml): finished with status 'done'
  Created wheel for datacleaner: filename=datacleaner-0.1.5-py3-none-any.whl size=7504 sha256=6c7993dd4ea150731687804c793d4d995b8815fdfa92e53ab7e5c90133148695
  Stored in directory: c:\users\xolmu\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local\pip\cache\wheels\e1\09\72\c85c045c414d1fa393e6845da43f5b2a1a3865d3ce5bbedabc
Successfully built datacleaner
Installing collected packages: urllib3, idna, charset-normalizer, certifi, requests, update_checker, datacleaner
Successfully installed certifi-2025.1.31 charset-normalizer-3.4.1 datacleaner-0.1.5 idna-3.10 requests-2.32.3 update_checker-0.18.0 urllib3-2.3.0

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: C:\Users\xolmu\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
from datacleaner import autoclean
df=autoclean(df)

C:\Users\xolmu\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\datacleaner\datacleaner.py:77: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  input_dataframe[column].fillna(input_dataframe[column].median(), inplace=True)
C:\Users\xolmu\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\datacleaner\datacleaner.py:77: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  input_dataframe[column].fillna(input_dataframe[column].median(), inplace=True)
C:\Users\xolmu\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\datacleaner\datacleaner.py:77: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  input_dataframe[column].fillna(input_dataframe[column].median(), inplace=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   int64
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   int64
 4   Writer             4989 non-null   int64
 5   Metascore          4989 non-null   float64
 6   Cast               4989 non-null   int64
 7   Release Date       4989 non-null   int64
 8   Country of Origin  4989 non-null   int64
 9   Languages          4989 non-null   int64
 10  Budget             4989 non-null   int64
 11  Worldwide Gross    4989 non-null   int64
 12  Runtime            4989 non-null   int64
dtypes: float64(2), int64(11)
memory usage: 506.8 KB